[2019-12-04 08:27] eyedean opened #1303 "Newly created Vue SFC File: Parsing error: "parserOptions.project" has been set for @typescript-eslint/parser"
**What code were you trying to parse?**
I run into the infamous error of not finding the parser (similar to https://github.com/typescript-eslint/typescript-eslint/issues/1159 and https://github.com/typescript-eslint/typescript-eslint/issues/883) for *new Vue files* I create in my project.  **NOTE: a restart of VS and my live compiler eliminates the problem until the next time I create a new `.vue`

[2019-12-04 11:11] willin opened #1304 "how to parse pipeline-operator using babel"
**What code were you trying to parse?**

[code]

**What actually happened?**

[code]

**Versions**

| package                     | version |
| --------------------------- | ------- |
| `@typescript-eslint/parser` | `2.10.0` |
| `TypeScript`                | `3.7.3` |
| `ESLint`                    | `6.7.2` |
| `node`                      | `13.2.0` |

ref: https://github.com/babel/babel-eslint/is

[2019-12-04 19:06] bradzacher commented on #1302
please use our rule `@typescript-eslint/no-unused-vars-experimental` instead

[2019-12-04 19:06] #1302 closed

[2019-12-04 19:09] bradzacher commented on #1304
Typescript doesn't support the pipeline operator.

I'm not sure why you're asking about parsing using babel here, we don't have anything to do with babel.

[2019-12-04 19:09] #1304 closed

[2019-12-04 19:37] Bogidon commented on #1220
Ah whoops, my bad. The rule was coming from airbnb. Happen to know a library that does to airbnb what `@typescript-eslint/eslint-recommended` does to... `eslint:recommended`?

[2019-12-04 19:40] bradzacher opened #1305 "Align AST for TSEnumDeclaration with TSInterfaceDeclaration, TSModuleDeclaration, etc"
For each `TSEnumDeclaration`, we place its members directly on this AST node.
[code]

For each `TSInterfaceDeclaration`, we have a separate `TSInterfaceBody` node, upon which we place the members.
[code]

I'm not sure why there's this inconsistency between the two, but I think we should consider aligning the two.

I'm not sure why `TSEnumDeclaration` was created without a body, but I think that cr

[2019-12-04 19:44] #1274 closed

[2019-12-04 19:48] bradzacher commented on #1220
https://www.npmjs.com/package/eslint-config-airbnb-typescript

All you need to do is
`{ "extends": ["airbnb-typescript"] }`

[2019-12-04 22:01] betopompolo commented on #941
@snokier I don't know if you already solved the issue you described, but I believe if you type your props, the error is gone. Something like this
[code]

[2019-12-05 03:25] brianjenkins94 opened #1306 "[@typescript-eslint/space-before-function-paren] `plugin:@typescript-eslint/eslint-recommended` should disable `space-before-function-paren`"
**Repro:**

<details><summary><code>.eslintrc.json</code></summary>

[code]
</details>

**Expected Result:**

Not to receive this error:

`Missing space before function parentheses. eslint(space-before-function-paren)`

**Actual Result:**

This error:

`Missing space before function parentheses. eslint(space-before-function-paren)`

**Additional Info:**

<details><summary><code>eslint --ext ".ts,.

[2019-12-05 05:21] bosens-China opened #1307 "Optional chaining syntax is still not supported"
**What code were you trying to parse?**

[code]

**What did you expect to happen?**
Get the right results, not the wrong ones

**What actually happened?**
Expression expected.
Expected ':'.

**Versions**

| package                     | version |
| --------------------------- | ------- |
| `@typescript-eslint/parser`| "^2.10.0"
| `TypeScript`           |"^3.7.3",
| `ESLint`                   |"^6.

[2019-12-05 11:17] jzarzeckis commented on #1017
I'm quite confused with the cases when you have values that are potentially `undefined` on the left side.

Is this really the expected behaviour?
![image](https://user-images.githubusercontent.com/919350/70230272-a45bcb80-1760-11ea-970d-8de72aad262c.png)

I do have strict mode and `ignoreRhs` enabled, and foo is not always truthy.

Have I misconfigured something, or am I really expected to refacto

[2019-12-05 11:29] glen-84 commented on #1017
@jzarzeckis Can you show the code?

Is it just this?

[code]

... or is some code missing?

[2019-12-05 11:48] jzarzeckis commented on #1017
Just this. If that helps, I can also share my `eslintrc.json`.

@glen-84 - are you saying I'm alone with such behaviour?

[2019-12-05 11:55] glen-84 commented on #1017
1. You should be seeing `value is always falsy`, not `value is always truthy`.
2. As far as I know, this is the correct behaviour, as the variable `foo` is last assigned the value `undefined`, and therefore the test will always fail (return `false` and use the default value of `['hello']`).

[2019-12-05 12:56] glen-84 commented on #1306
The missing rule definitions are probably happening because you're not using the latest versions of ESLint (6.7.2) and @typescript-eslint/* (2.10.0).

Are you able to update these dependencies?

[2019-12-05 13:00] jzarzeckis commented on #1017
No no. The **type** of `foo` is `string[] | undefined`. And imho `undefined` is not `truthy`.

If strict null checking mode was disabled in tsconfig, I'd understand this behaviour, as it'd infer the type of foo as just `string[]`.

But since in my project I have `strict` mode enabled, I'd expect not to see such an eslint warning.

[2019-12-05 13:04] ark120202 commented on #1017
@jzarzeckis the type of `foo` is `undefined`, because TypeScript is able to infer it from control flow. If you'd initialize `foo` with, for example `Math.random() > 0.5 ? undefined : ['a']`, eslint wouldn't show a warning there.

[2019-12-05 13:12] brianjenkins94 commented on #1306
Yep, looks like that resolved all of my issues. Weird though because my `package.json` specifies:

[code]

Which should be the latest stable version of everything.

[2019-12-05 13:22] glen-84 commented on #1017
https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-0.html#control-flow-based-type-analysis

[2019-12-05 13:23] brianjenkins94 commented on #1306
I'll look into it separately.

Thanks @glen-84 !

[2019-12-05 13:23] #1306 closed

[2019-12-05 15:11] jzarzeckis commented on #1017
Okay - then how about this:
[code]

![image](https://user-images.githubusercontent.com/919350/70247606-4b049400-1782-11ea-8e24-955747b1603f.png)

[2019-12-05 15:17] glen-84 commented on #1017
I don't see any errors from that code. Are your dependencies up-to-date?

[2019-12-05 15:27] jzarzeckis opened #1308 "[no-unnecessary-condition] False negative when nullable type is on the left hand side"
**Repro**

[code]

[code]

**Expected Result**
No warnings

**Actual Result**
[code]

![image](https://user-images.githubusercontent.com/919350/70248557-bac74e80-1783-11ea-8d60-c205909a2731.png)

**Additional Info**
`strict` mode has been enabled in `tsconfig`. I mean I'd expect such behaviour if strict null checks were disabled, but not when they are enabled.

**Versions**

| package

[2019-12-05 15:30] jzarzeckis commented on #1017
Hmm. I just upgraded to `2.10.0` and I still get the same warning. Registered #1308 , but if no-one else is able to reproduce - then I'm wondering what could I have configured incorrectly.

[2019-12-05 15:37] glen-84 commented on #1308
Did you reload VS Code after updating `@typescript-eslint/*`?

You may also want to consider updating `eslint`.

[2019-12-05 15:45] jzarzeckis commented on #1308
Sorry for the hassle.
Now that I've upgraded **everything** - the issue is no longer reproduced. It can be closed

[2019-12-05 15:52] #1308 closed

[2019-12-05 15:53] jzarzeckis commented on #1308
I guess the problem was that I kept doing "Disable/Enable Eslint" while a full reload was required.

[2019-12-05 18:57] faisalil commented on #355
What about the browser extension, is there a way to have it enabled and show error on ts/tsx files?

[2019-12-05 21:18] RyanHirsch opened #1309 "[@typescript-eslint/quotes] False Positive in interface"
[@typescript-eslint/quotes] False positive in Typescript Interface

**Repro**

[code]

[code]

**Expected Result**
No Errors

**Actual Result**
   6:3  error  Strings must use backtick  @typescript-eslint/quotes
   7:3  error  Strings must use backtick  @typescript-eslint/quotes
   8:3  error  Strings must use backtick  @typescript-eslint/quotes

**Versions**

| package

[2019-12-05 21:51] bradzacher commented on #355
We only parse and lint the files that we are given by eslint.
You have to check with the maintainer of whatever tool you're using.

[2019-12-05 21:53] bradzacher commented on #1307
It's supported fine, and has been supported since before its release.
There are passing tests, and there are millions of other users that this is working fine for.

If I were to hazard a guess, the configs you're extending are using the wrong versions of packages like prettier, our packages, or typescript.

Please ensure that all of your packages are up to date.

[2019-12-05 21:53] #1307 closed

[2019-12-05 21:57] bradzacher commented on #1017
Commenting on an issue like this is not the place to report or discuss bugs.
please open a new issue and fill out the template.

[2019-12-06 03:02] ooyyloo opened #1310 "[no-unnecessary-type-assertion] This rule is different from the tslint rule 'no-unnecessary-type-assertion'"
The tslint rule 'no-unnecessary-type-assertion' reports an error only when the type assertions does not change the type of a variable. But this rule seems to report errors when the types of source variable and the receiver are different. These two rules are different, but the ROADMAP.md tells me these two rules are the same.

**Example**

[code]
Consider about the code above. There is no error whe

[2019-12-06 03:32] vilic commented on #1310
I think the original tslint rule does it right. An non-null assertion is added just because the expression, at certain position, is believed to be non-null. And this has nothing to do with the assignment / return type.

[2019-12-06 04:29] bradzacher commented on #1310
Have you got an example of where they differ?

It's really hard to evaluate an issue like this with just the vague description.
A code sample is worth 1000 words.

[2019-12-06 04:45] ooyyloo commented on #1310
I add an example in the description above.

[2019-12-06 05:56] bradzacher commented on #1310
Thanks.

Looking at your example - I don't understand what's wrong with it.
The `!` is unnecessary, as the original type (`string | undefined`) is exactly assignable to the receiving type (`string | undefined`).

If you change the example slightly to:

[code]

Then the rule will _not_ report, because `string | null | undefined` is _not_ assignable to `string | undefined`, due to the `null`.

---

[2019-12-06 05:56] #1310 closed

[2019-12-06 09:03] lgarron opened #1312 "[no-unused-vars] False positive for class member constructor arguments"
**Repro**

[code]

Config is from `npx eslint --init`:
<details>
<pre>
module.exports = {
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersio

[2019-12-06 18:15] vilic commented on #1310
@bradzacher Can we reopen this issue for further discussion?

This is not about compatibility with TSLint rules, but about being semantically correct.

[code]

In the modified example above, it is unnecessary to do non-null assertion to pass type checking, but it is semantically correct to do non-null assertion as we know `x` after `makeXNonNull()` is non-null.

The non-null assertion also provide

[2019-12-06 20:37] milesj opened #1313 "[prefer-nullish-coalescing] Rule is hard too use without major refactors"
Wasn't sure how to title this and will preface this by saying I understand the semantics of nullish coalescing, and why the `prefer-nullish-coalescing` exists, but in it's current state, it's quite troublesome to enable. My story:

- I recently applied this rule to our codebase, as a warning, which revealed hundreds of call sites. Pretty awesome stuff that it takes the types into account and flags

[2019-12-06 21:42] dko-slapdash opened #1314 "Add a rule which disallows calling a non-void/non-never function without using its return value"
In C++/gcc, there is a useful attribute which can be assigned to a function, and then swallowing the returned value of this function will be considered as an error: `__attribute__((warn_unused_result))`.

Is there something like that for eslint/typescript?

**What code were you trying to parse?**

[code]

**What did you expect to happen?**

It should warn that the function's return value is not co

[2019-12-07 00:51] bradzacher commented on #1312
please use our `no-unused-vars-experimental` rule.

[2019-12-07 00:51] #1312 closed

[2019-12-07 01:15] bradzacher commented on #1310
The name of the rule is pretty self-explanatory as to why it flag this usage.
no unnecessary type assertion - the rule shall enforce that there are no type assertions that are unnecessary (i.e are not required by the receiver, or do not change the type).

[code]

Considering there is no type error with or without the `!`, that implies that it is unnecessary.
So it is correct for the rule to flag i

[2019-12-07 01:27] bradzacher commented on #1313
This will lead to the rule being pretty well useless, as one of the most used case is for doing things like: `nullishString || 'proper message'`, `nullishNumber || 10`, `nullishBoolean || true`.

It's not a good idea to special case strings, as they are no different to numbers or booleans, both of which have falsey values.

---

The unfortunate thing is that so many people use and rely upon the im

[2019-12-07 01:27] #1313 closed

[2019-12-07 01:37] bradzacher commented on #1314
Function return values are not expressions. Function calls are expressions.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Expressions_and_Operators#Expressions

---

There is ***no*** rule to check if a function with a non-void return value is being used without storing its return value.

Happy to accept a PR to add one.

[code]

[2019-12-07 12:10] fkling commented on #1143
While I can the frustration, I'm very disappointed by this. I have taken (and am taking) steps to make it easier for me to deploy new builds. I'm also looking into ways to automate the update process.

I would much prefer if you reach out to me and talk about the issue so that we can come up with a solution that benefits everyone.

[2019-12-07 12:29] xiaoxiangmoe opened #1316 "JSDoc node"
**What code were you trying to parse?**

[code]

**What did you expect to happen?**

ast.body[0].declarations[0] has jsdoc node

**What actually happened?**

no jsdoc node

**Versions**

| package                                | version |
| -------------------------------------- | ------- |
| `@typescript-eslint/typescript-estree` | `2.10.0` |
| `TypeScript`                           | `3.7.2` |

[2019-12-08 18:04] MichalLytek opened #1317 "[no-type-alias] Cannot express complex types with generics"
**Repro**

[code]

[code]

**Expected Result**

Allow to construct complex types using generics, the same as it allows using mapped types.

**Actual Result**

**Additional Info**

This type is useful to model requirements on data like `["foo"]`, `[[["foo"]]]`, etc.

**Versions**

| package                            | version |
| ---------------------------------- | ------- |
| `@typescript-eslint

[2019-12-09 02:56] bradzacher commented on #1316
Comments are included in the output, if you pass the `comments` option to the parser.

[2019-12-09 02:56] #1316 closed

[2019-12-09 03:33] bradzacher commented on #1317
Unless I'm mistaken, this example is not actually complex, and is expressable via an interface:

[code]

[2019-12-09 03:39] bradzacher commented on #1143
Hi @fkling!

I'm more than happy to work with you on this.

If we can work out a solution that removes the need to manually PR for minor bumps, then that will be the vast majority of the pain points covered and closed.

Even better would be if we could somehow tie into NPM, so that we can use our canary versions (which are created for every master commit).

---

Some more background on this:

aste

[2019-12-09 03:39] #1143 closed

[2019-12-09 12:35] MichalLytek commented on #1317
This conflicts with another rule:
`An interface declaring no members is equivalent to its supertype.eslint(@typescript-eslint/no-empty-interface)`
So maybe I should add an issue about this rule for generics?

Also, the real world usage is to model the single nested tuple:
`type RecursiveSingleTuple<TValue> = [RecursiveSingleTuple<TValue> | TValue];`

So as we see, it should be possible to allow th

[2019-12-09 12:50] bradzacher commented on #1317
Hmm, you've run across this, because of your config:
- you use the generic form of arrays (`array-type`)
- you blacklist empty interfaces (`no-empty-interface`)
- you blacklist alias types (`no-type-alias`)

Workaround is to just eslint-disable for the one line.
It's a pretty rare case, no doubt.

Detecting recursive types is cumbersome, as you can nest them infinitely deep.
I'll leave this open f

[2019-12-09 12:52] ulrichb commented on #1192
I have a mid-size (~ 30 kLOC) TS-only project and also get OOMs (2 GB), but in my case with only one tsconfig:

[code]

I'm pretty sure that `@typescript-eslint/parser` is the problem, because I disabled all plugins (even `@typescript-eslint`) and ESLint still eats 2 GB.

Unfortunately my code is closed source. Any hints to track down the memory leak?

[2019-12-09 13:01] bradzacher commented on #1192
run `DEBUG=typescript-eslint yarn lint` and dump the output.

It's not just the number of lines that matter - it's more so the number of files, and the number of dependencies.

How many files do you have?
Is it a monorepo? If yes - are you using yarn workspaces / lerna?
How big is your npm dependency tree?
Could you dump the contents of `tsconfig.base.json`?

[2019-12-09 13:14] ulrichb commented on #1192
[code]

~ 180

no

big

[code]

[2019-12-09 13:38] Vanuan opened #1320 "[no-unused-vars] Recommended level should be "error""
**Repro**

[code]

[code]

**Expected Result**

There should be a lint error

**Actual Result**

There's no lint error

**Additional Info**

Appears to be introduced in this commit:
https://github.com/typescript-eslint/typescript-eslint/commit/32753d1b07448ee4201edd17ff929bd00d55784f

**Versions**

| package                            | version |
| ---------------------------------- | ------- |
|

[2019-12-09 13:44] bradzacher commented on #1320
We do not have it set as an error on purpose.
Setting it as an error would make it build blocking for a large number of users.

However, there are a large number of false positives due to the implementation.
You are free to bump the severity in your own config if you are okay with the false positives blocking your CI.

Alternatively, try our new rule - `no-unused-vars-experimental`, which uses the

[2019-12-09 13:44] #1320 closed

[2019-12-09 13:45] Vanuan commented on #1320
ESLInt's level is error. I think it should be error in typescript too.

https://github.com/eslint/eslint/blob/dbbba83e3e81d53f7cfd4cb323a345f424ab0022/conf/eslint-recommended.js#L60-L61

[2019-12-09 13:47] bradzacher commented on #1320
It is, yes - eslint core only turns recommended rules on to error.

We will not be setting our recommendation to an error due to the false positives.

[2019-12-09 13:48] Vanuan commented on #1320
Got it. Thanks.

Are there any other recommended rules that are turned off?

[2019-12-09 13:51] bradzacher commented on #1320
We don't turn off any rules in the recommended set.

The exact recommended configs can be found here: https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/eslint-plugin/src/configs

[2019-12-09 13:52] Vanuan commented on #1320
Trying to use it:
[code]

[2019-12-09 13:52] Vanuan commented on #1320
Documentation doesn't help:
https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/no-unused-vars-experimental.md

[2019-12-09 13:54] bradzacher commented on #1320
https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/parser#configuration

[2019-12-09 13:57] Vanuan commented on #1320
I think I got it.

[code]

Thank you.

[2019-12-09 14:06] bradzacher commented on #1192
If the debug log looks like that, and you have only got 180 files (that's a tiny repo), then I would say that yes - either there's a memory leak, or your npm dependencies have some super large/complex types (or a combination of both).

It's hard to say though.
Without being able to directly interact with the codebase, the best I can do is try and work through this "over the wire".

- Could you run

[2019-12-09 14:24] ulrichb commented on #1192
The last `DEBUG=*` loggings before crashing:

[code]

[code]

148 / 180

[2019-12-09 21:35] kevinhylant commented on #1051
Any timeline on when this and https://github.com/typescript-eslint/typescript-eslint/issues/1052 might be completed?

[2019-12-09 21:37] threehams commented on #686
Mind if I work on this?

[2019-12-09 21:52] bradzacher commented on #1051
We are a community run project, meaning we rely on community support to get things done outside of critical bugfixes or core infrastructure.
So the timeline is "whenever someone feels like they need this done, and gets around to it".

Happy to accept a PR if there's something missing that is important to you.

[2019-12-09 21:53] bradzacher commented on #686
I suspect that it will be near impossible to fix in a generic way.
I think this rule will just have to be a special case that doesn't use the options merging infra.

The problem is essentially this: in a nutshell, the default options merging function does `Object.assign(userOptions ?? {}, defaultOptions)`. This works great for 99.99% of rules, which have options objects that are simple, and consis

[2019-12-09 22:03] bradzacher commented on #1192
Hmm, that output (and dependency set) looks fine.
It looks like it just runs out of memory whilst traversing the AST. Which does imply a memory leak somewhere.

Could you please try turning off every single eslint rule, and doing the same `DEBUG=*` run?
If that still OOMs in the same way, then there is definitely something interesting going on.

[2019-12-10 08:23] ulrichb commented on #1192
Okay, I dropped now everything. This is now the full ESLint config:
[code]
(`tsconfig.base.json` see above)

The CLI call: `npx eslint --ext .js,.ts,.tsx .`

Note that because of the missing rules, ESLint now _slightly_ uses less memory, so I used `NODE_OPTIONS=--max-old-space-size=1900` (1.9 GB instead of the 2 GB default) to reproduce the OOM.

 <details>
  <summary>The complete log (with a few

[2019-12-10 09:29] lgarron opened #1321 "[no-unused-vars-experimental] False positive for arguments in function override in derived class"
**Repro**

[code]

[code]

**Expected Result**
No error.

**Actual Result**
The `x: number` argument to `B.scalePoints` is marked as an `no-unused-vars-experimental` error.

**Additional Info**

At the core here is that the implementation of a function override may "happen" not to depend on a certain argument at a given point in time, but may do so in general. It's important to me that I don't hav

[2019-12-10 11:33] Dionysusnu opened #1322 "[no-extra-parens] false positive with type assertion"
**Repro**

rule not touched in .eslintrc rules property
[code]

this line, first parentheses is the error
`(msg as Message).edit(`Pong! ${(msg as Message).createdTimestamp - message.createdTimestamp}ms`);`
[code]

**Expected Result**
No error, because the parentheses around `msg as Message` are necessary, otherwise the compiler would read `Message.edit()`, which throws the following compiler error

[2019-12-10 11:36] bradzacher commented on #1321
There is no false positive here.
The parameter is unused.

[You would get the exact same error were you using the base eslint `no-unused-vars`](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IG5vLXVudXNlZC12YXJzOiBbXCJlcnJvclwiXSAqL1xuXG5jbGFzcyBBIHtcbiAgc2NhbGVQb2ludHMoeCkge1xuICAgIHJldHVybiAyICogeDtcbiAgfVxufVxuXG5leHBvcnQgY2xhc3MgQiBleHRlbmRzIEEge1xuICBzY2FsZVBvaW50cyh4KSB7XG4gICAgLyogU2ltcGxp

[2019-12-10 11:36] #1321 closed

[2019-12-10 11:42] bradzacher commented on #1322
You will have to manually configure your lint config to use our version of the rule: `@typescript-eslint/no-extra-parens`.

I don't know what config has added the rule in, as `no-extra-parens` isn't recommended in any of the configs you have listed. You can debug via the `--print-config` argument if you like.
But it won't change the fact that the rule straight out of eslint base won't work ever!

[2019-12-10 11:42] #1322 closed

[2019-12-10 15:13] JounQin commented on #636
Any news?

[2019-12-10 23:29] bradzacher commented on #143
Revisiting this.

It's not something we can handle ourselves.
The short and curlies of it is that eslint uses JSONSchema to define rule options, and JSONSchema does not support JS RegExp out of the box, (because it's a spec for validating JSON, not native JS objects).

Looking into it a bit.
Under the hood, eslint uses the `ajv` library to handle the JSONSchema validation. This library is pretty s

[2019-12-10 23:29] #143 closed

[2019-12-10 23:46] johnwiseheart commented on #40
It has been a fair while since I opened this issue, and the project has come a long way. I think one thing that would be valuable is to create an example repo or yeomen generator (or similar) with a rule or two written in typescript. This would give a clear understanding of:
1. Where do I import specific tooling from (`@typescript-eslint/experimental-utils`)?
2. How do I write a simple lint rule?

[2019-12-10 23:59] bradzacher commented on #636
happy to accept a PR!

However, it will not be easy to implement.
The solution to this would have to be done completely manually, because AFAIK TypeScript does not track binding information anywhere.

----

_Take this aside with a pinch of salt, because even a naive solution is an improvement over the base implementation, and no doubt the below is an edge case that can be ignored._

As an aside, t

[2019-12-11 00:16] bradzacher commented on #40
Documentation is something we need to work on as a whole (eg #1298).

I just haven't had a lot of spare time outside of general triaging, reviews and bugfixes.
I've prioritised that work over documentation, because people are generally cluey enough to persevere past and overcome the crappy onboarding experience, so there is a lot more tangible impact for end users in fixing bugs and adding request

[2019-12-11 00:18] johnwiseheart commented on #40
Yep, that all makes sense - and I expect I'll feel much the same once I'm onboarded 😆

Once I figure things out, happy to make a demo repo with a simple rule and test if that is helpful!

[2019-12-11 01:29] zedryas opened #1323 "Allow to ignore certain file types"
**What code were you trying to parse?**
Using `electron-forge` with template webpack, I need to specify an html file as template for later use by the CRA to feed the `HTMLWebpackPlugin`

The issue is when project is set within the eslint config, the html file is not recognized. If i had the `extraFileExtensions` option it then tries to parse the `html` file and produces the following error on `DOC

[2019-12-11 01:48] bradzacher commented on #1323
you can use a `.eslintignore`
https://eslint.org/docs/user-guide/configuring#ignoring-files-and-directories

Or you can use `overrides` in your eslint config.
https://eslint.org/docs/user-guide/configuring#configuration-based-on-glob-patterns

[2019-12-11 01:48] #1323 closed

[2019-12-11 13:13] garyo commented on #935
I'm running typescript 3.7.3 and still see this multi-line warning in my console on every lint run (but the lint run is fine). Any way to suppress it?

[2019-12-11 13:17] bradzacher commented on #935
the supported range is `>=3.2.1 <3.8.0` (has been this for ~2 months).
Are you sure you're using the latest versions of our tooling?

[2019-12-11 14:23] garyo commented on #935
Hmm, I guess I wasn't -- I had 1.13. Updated, fixed all the new errors, now things are OK. Thanks.

[2019-12-11 14:26] pleek91 opened #1325 "[indent] add baseIndent for Vue SFC"
I was using [vue/script-indent ](https://eslint.vuejs.org/rules/script-indent.html#vue-script-indent)to handle the indentation of javascript in single file vue components. However after switching to typescript that rule no longer works and their documentation recommends switching to `@typescript-eslint/indent` for vue files that use `ts`. But what I've discovered is when using the typescript versi

[2019-12-11 21:35] ryami333 commented on #851
@bradzacher sorry but I can't see any justification for this in the release notes you linked to. Care to shed some light here?

[2019-12-11 21:52] bradzacher commented on #851
The justification is that no lint rules should care about file extensions.
Doing so forces all users to use those particular extensions.
This causes problems when frameworks like Vue come along and have users write typescript within files with a different extension (I.e. `.vue`).

Quite a while ago, eslint released a configuration option called `overrides`. This option lets you specify a new confi

[2019-12-11 21:53] bradzacher commented on #1325
Having a nonzero indentation for your script tags is a personal stylistic preference.

There is no option in the rule. Happy to accept a PR to add one.

[2019-12-11 21:59] ryami333 commented on #851
Cool thanks for clarifying 👍

[2019-12-11 22:05] pleek91 commented on #1325
Probably a little out of my wheelhouse but I'll take a look. Thanks

[2019-12-12 00:05] suchanlee commented on #1192
_Let me know if you'd prefer that I open a separate issue instead of piggy backing off this one_

I'm running into the same issue as well, in a large monorepo:

**Monorepo**: Yes, managed by lerna
**Number of packages**: 414, with a separate tsconfig.json file in each one
**Number of Typescript files**: 24428
**Lines of code**: ~200k
**How big is your npm dependency tree**: large, ~1000

<details>

[2019-12-12 01:00] suchanlee commented on #55
@MLoughry were you able to improve the performance of your codebase? Our codebase is of a similar size and running into the same performance issues while migrating from tslint to eslint.

[2019-12-12 02:54] MLoughry commented on #55
@suchanlee No, @uniqueiniquity was busy when I reached out to him and tabled the investigation, but I’ve not heard anything since.

[2019-12-12 06:34] suchanlee commented on #55
@MLoughry I see, then is your codebase still using tslint?

[2019-12-12 11:54] bradzacher commented on #1192
In order to lint with type information, you have to gather the type information. There's only one possible way to do that - essentially call `tsc` on the project (we use their compiler API, but they do the same thing under the hood).

So the perf hit === roughly how long it takes to run `tsc --noEmit`.
eg. For our project here, we have 349 TS files, at about 80k lines (including tests, or about 30

[2019-12-12 12:25] sindresorhus commented on #143
This would be better:

[code]

[2019-12-12 14:29] MLoughry commented on #55
Yes, it is.

- Michael
________________________________
From: Suchan Lee <notifications@github.com>
Sent: Wednesday, December 11, 2019 10:34:04 PM
To: typescript-eslint/typescript-eslint <typescript-eslint@noreply.github.com>
Cc: Michael Loughry <miclo@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [typescript-eslint/typescript-eslint] Benchmarking against TSLint (#55)

@MLoughr

[2019-12-12 16:24] Dionysusnu commented on #1322
Oops, I hadn't set it as a root config, and my normal javascript config was enabling the rule. Can't your recommended preset override the default setting and disable it, though?

[2019-12-12 18:02] suchanlee commented on #55
Given that running eslint with types is significantly faster on each package of a monorepo vs. the whole monorepo itself, perhaps one solution would be for

- **builds/ci**, run a script that runs eslint in each of the packages separately and for
- **development workflows**, such as working from the root of the monorepo with vscode, have the vscode eslint plugin run in each package separately, for

[2019-12-12 18:04] armano2 commented on #1305
hi, @bradzacher reason behind not using `*body` node for enum was alignment between babel ast for typescript and typescript itself.
https://github.com/typescript-eslint/typescript-eslint/blob/835378e505f462d965ce35cc4c81f8eee1704a30/packages/typescript-estree/src/convert.ts#L2471-L2473

#### note
one thing to keep in mind while changing this `no-shadow`.
http://www.typescriptlang.org/play/?ssl=10&

[2019-12-12 19:49] suchanlee commented on #1192
@bradzacher thanks for a quick response! If the lower bound is the time it takes to run tsc, then it will definitely not work for our monorepo. I'll take the conversation to https://github.com/typescript-eslint/typescript-eslint/issues/55 for further discussion

[2019-12-12 20:57] whatisaphone opened #1328 "New rule suggestion: complete destructuring of parameters"
Consider this code:

[code]

The `onClick` prop was accidentally omitted, and no current rule is able to catch it (that I know of). I suggest a rule, called maybe `fully-destructure-arguments`, which would trigger if a property is present on an object type, but is not destructured.

It (probably) shouldn't trigger for interfaces et al, only immediate inline object types. An interface may be used e

[2019-12-12 22:18] bradzacher commented on #1322
Sure, but that's only if we add the rule to our recommended set.
However, it's a stylistic rule, so it is not recommended (we only recommend best practices, and there's too much heated discussion about stylistic preferences).

ESLint base does not have `no-extra-parens` in their recommended set either:
https://eslint.org/docs/rules/
![image](https://user-images.githubusercontent.com/7462525/707535

[2019-12-12 22:28] bradzacher commented on #1305
Sure it's not the same as an object, but in your example, it is equivalent to the following:

[code]

Which is kinda my point - it behaves more like a new block scope (see functions, or BlockStatements)

To me it seems like we should look to mirroring what ESTree does, instead of what babel and TS do. Babel and TS use their AST much differently than ESTree.

[2019-12-13 02:07] bradzacher commented on #55
I would contest this statement. Most of the cases of running significantly slower than TSLint that I've seen are because people are using slow lint rules (like the ones from `eslint-plugin-import`, or the `indent` rule), and some have been due to incorrect config (which we mostly dealt with with the hard errors we added in v2).

It's also hard to exactly compare tslint and eslint 1:1. Most users t

[2019-12-13 02:22] bradzacher commented on #1192
@ulrichb - looking at those logs..
It looks like it does a lot of work before starting on TS files.

That time crashed exactly where I'd expect it to:
[code]
This is where we call `typescript.createWatchProgram`, which makes typescript do the typechecking for the tsconfig project.

Do you have a mixed js/ts codebase?
If yes - you mentioned 180 files before, is that 180 total files, or 180 just TS

[2019-12-13 03:18] ulrichb commented on #1192
Omg, I just found my problem: The generated declaration files and/or .js files in the --outdir directories.

After deleting all "build" dirs the ESLint process maxes at ~ 550 MB.

Note that I have "build/" in my `.eslintignore`, so ... is it a bug that the input of the type-checking doesn't exclude the `.eslintignore` entries?

[2019-12-13 03:37] bradzacher commented on #1192
Hmm. I didn't think about this. Great work finding it.

Looking again at the tsconfig you're providing, you don't have an `include` or `exclude`.
To typescript, is the same as passing `include: ["**/*"]`, which means it'll ofc match your build output folder (IIRC TS will automatically not match node_modules, so it'll protect you from that).

This is a tricky thing that we don't exactly sync on wit

[2019-12-13 03:39] yoyo930021 commented on #1303
If you try to upgrade TypeScript ?
I cann't reproduce.

[2019-12-13 03:51] yoyo930021 commented on #1180
You code have some problem about no use vue class component.
I think we need @mysticatea  to get some suggestion.

[2019-12-13 09:44] aliksend opened #1330 "[no-undef] Const enums considered as not defined"
**Repro**

[code]

index.ts
[code]

types.d.ts
[code]

**Expected Result**

No errors

**Actual Result**

Message:
[code]

**Additional Info**

Of course this code is working.
If I use `enum` instead of `const enum` code will fail in runtime with `ReferenceError: Lang is not defined` so this rule make sense, but only for non-const enum.

**Versions**

| package                            | version

[2019-12-13 12:28] bradzacher commented on #1330
This isn't a problem with const enums, it's a problem with ambient definitions.
You would get a similar error if instead your `types.d.ts` contained:

[code]

It's not possible to build this check into the rule either, because ESLint operats on a single file at a time.

Closing this as we will not be supporting ref comments in the rule.

---

We recommend not using `no-undef` anyway, because the t

[2019-12-13 12:28] #1330 closed

[2019-12-13 13:40] bradzacher commented on #1298
I've started writing a new onboarding / getting started guide.
Would love some feedback - #1324

Rendered: https://github.com/typescript-eslint/typescript-eslint/blob/onboarding-docs/docs/getting-started/README.md

[2019-12-13 16:35] David-Else commented on #1298
@bradzacher These are a MASSIVE improvement, really well done and easy for people to understand. Excellent!

[2019-12-13 16:58] jpike88 commented on #1298
I like it too, much better

[2019-12-13 20:08] armano2 commented on #1180
@bradzacher preprocessor is nice idea, but it has few drawbacks what you can do in `eslint-plugin-vue`.

some of rules do cross checking between vue template and script code, for example: https://eslint.vuejs.org/rules/no-unused-components.html, i'm unsure if this will be still possible.

`eslint-plugin-vue` (officail plugin that uses `vue-eslint-parser`) as for now does not support `vue-property-

[2019-12-13 21:53] suchanlee commented on #55
@bradzacher Thanks so much for the detailed response! And I think it makes sense to try to not break away from core eslint as much as possible.

And whilst I have no suggestions on how to do so, I do think that addressing performance issues or workarounds for these performance issues in things like IDE workflows may be something that might be of relatively high priority given that tslint is being

[2019-12-14 00:07] bradzacher commented on #55
Definitely, we are always looking to improve, but it's a problem of not having the data - we only know if there are tangible perf issues if people tell us, and people only tell us if they think it's a problem. The majority of users think "perf is good  enough", because they operate at a small-medium scale.

I've worked 1:1 with everyone that's reported perf issues so far to debug and figure out wh

[2019-12-14 10:35] sobolevn opened #1333 "`parseForESLint` from parser `@typescript-eslint/parser` is invalid and will just be ignored"
**What code were you trying to parse?**

I am trying to work with this setup: https://github.com/wemake-services/wemake-vue-template/blob/master/template/.eslintrc.js

Here's how other eslint reusable packages from there are defined:
- https://github.com/wemake-services/wemake-frontend-styleguide/blob/master/packages/eslint-config-typescript/base.js

The problem might be in the amount of packages

[2019-12-14 18:35] armano2 commented on #734
note. _why it stayed in this way_

Initially there was a lot of additional conversions from AST produced by ts-estree in parser, most of them was cleared out, and looks like i forgot about this one.

this is part of legacy code from: https://github.com/eslint/typescript-eslint-parser/blob/master/parser.js#L46-L58

and last change to this was done in PR https://github.com/eslint/typescript-eslint-p

[2019-12-14 20:13] villasv opened #1334 "[semi] is enabled by default therefore so should its replacement"
The `semi` rule is activated on ESLint by default, so even though I'm using the whole gang:

[code]

I still have to put that
[code]

on my rules.

I understand that `semi` is not part of `eslint:recommended`, so it doesn't belong in `typescript-eslint/eslint-recommended`. It also doesn't belong in `typescript-eslint/recommended`. But it should be there somewhere. Maybe there should be another pac

[2019-12-15 01:31] ArnaudBarre opened #1335 "[no-unused-vars-experimental] rule is slow"
**Actual Result**
[code]
**Expected Result**

I'm surprised that the rule represent more than half of time. Is it something known or some special check that makes it more consuming than other rules?

**Versions**

| package                            | version |
| ---------------------------------- | ------- |
| `@typescript-eslint/eslint-plugin` | `2.11.0` |
| `@typescript-eslint/parser`        |

[2019-12-15 03:56] MaximDevoir commented on #1192
After spending a few hours debugging why my `lint` command was suddenly experiencing crashes (including when going to previously working git commits) I discovered that `typescript` was processing one of my  *node_modules* folder (the folder had a non-standard name - and could not be ignored by `typescript` default ignore settings)  that I forgot to add to the `exclude` property in my `tsconfig.esl

[2019-12-15 15:03] platinumazure commented on #1334
ESLint team member here. No rule is activated by default unless you're using ESLint 0.x or so. So if you are seeing it activated, there must be another config turning it on.

Make sure your top-level project config has `root: true` to avoid picking up other configurations in ancestor directories.

[2019-12-15 15:17] villasv commented on #1334
Hmm, sorry about the wrong assumptions. I’m going to hunt down where that rule is coming from.

I guess I should close things until I confirm there’s anything to be done in the scope of the plugin.

[2019-12-15 15:17] #1334 closed

[2019-12-16 01:16] bradzacher commented on #1192
Unfortunately there's no easy way to detect the difference between an intentional large number of files and an accidental one. ESLint doesn't tell us the globs being passed via the CLI, so we only know the name of the current file - we don't know how many files or what folders are left.

There probably is a way to monitor memory usage. But once the process OOMs, AFAIK there's nothing we can do, as

[2019-12-16 04:03] armano2 commented on #1301
This syntax is invalid if used in code, typescript reports error code `8020`,

error happens when we are trying to convert `b` -> `Parameter`

typescript does not return correct ast node (there is no name) and parameter is created as null

https://github.com/typescript-eslint/typescript-eslint/blob/348d2f6b207acb9e18721cba53f0aa85908fa777/packages/typescript-estree/src/convert.ts#L1364-L1372

we s

[2019-12-16 04:35] bradzacher commented on #1333
I don't know where that error message comes from.
We don't have that message anywhere in our codebase, and a quick search of the eslint codebase, it's not there either.

considering how many plugins and extensions there are, it's hard to tell what your config is even doing.
You can use the `--print-config` argument for eslint to show the fully resolved config.

[2019-12-16 04:47] bradzacher commented on #1335
the timing here is a bit incorrect.

There is overhead that is incurred the first time type information is accessed for a file. This means that that whichever rule is first will show up as higher runtime than the rest, even if it's a pretty lightweight rule (to see what I mean, you can turn off the rule, and run timing again and you'll see a different rule has a higher runtime).
So it's hard to sa

[2019-12-16 04:48] bradzacher commented on #1334
you can use the `--print-config` flag on eslint to see the entire resolved config for a file (it resolves all extended configs). This can help figure out what rules are actually turned on.

[2019-12-16 06:13] sobolevn commented on #1333
Sure, here you go! https://gist.github.com/sobolevn/0e0e13ac80c5730a6a0c76609b6f046d

[2019-12-16 09:28] ArnaudBarre commented on #1335
Oh I didn't know that but it seems there is more than that. Here are the result when turning the rule off:
[code]

There currently no unused variables and the codebase is around 20k TS (mostly tsx) lines

[2019-12-16 11:18] #1309 closed

[2019-12-16 11:20] #1290 closed

[2019-12-16 11:27] bradzacher commented on #1335
That's interesting, maybe the API call is reasonably slow.
I never perf tested it because I just assumed the diagnostics were there ready to go.

Running over our codebase:
[code]
vs
[code]

That's disappointing, I'll need to look into that.
This is the reason I released the rule as experimental rather than breaking change swapping it in, because it was a new way of using the compiler API.

[2019-12-16 11:38] jsilveira2 commented on #791
Hi, nothing has been defined so far? Is there any palative solution until topic is resolved?

[2019-12-16 11:39] pgsandstrom commented on #1025
While `maybeObj != null` is easy enough to read, I think it is unnecessary for this rule to be so opinionated as to force the user to change bug free code. I currently face a huge barrier of entry in my current project as we have thousands of `if(myObj)`, code that is perfectly safe and would be needed to change to start using this helpful rule.

I honestly dont see why this `allowSafe` option sho

[2019-12-16 11:45] pgsandstrom commented on #1025
Well, after giving it a minute of thought I do realize that my suggestion would make the name "strict-boolean-expressions" be a bit misleading. But perhaps the issue is with the name of the rule then? Perhaps it should be called "no-unsafe-boolean-coercion" or something to that effect? Because as far as I can see, that is the reason to be using this rule.

[2019-12-16 11:45] bradzacher commented on #1025
I'm happy to have an option. Though I would prefer `allowSafe` being default off.

I think it's probably better for this rule to be "fully strict by default", with the option of relaxing it where you're okay having "a little less explicitness and strictness".
I much prefer that option style rather than "here's an option to relax it and here's an option to tighten it".

this project is driven by th

[2019-12-16 11:58] jsilveira2 commented on #326
Hi;
I have the same problem, I was using tslint and decided to migrate to use @ typescript-eslint, but after disabling the tslint extension and staying only with eslint, the vscode warnings stopped working.

**My eslint.js:**
[code]
**My settings.json:**
[code]

[2019-12-16 12:15] yuto0214w opened #1337 "ESLint: Cannot find module 'typescript'"
When I try lint the code, parser occur this error:

[code]

What should I do?

**Versions**

| package                     | version |
| --------------------------- | ------- |
| `@typescript-eslint/parser` | `2.11.0` |
| `TypeScript`                | `3.7.3` |
| `ESLint`                    | `6.7.2` |
| `node`                      | `13.3.0` |
| `npm`                       | `6.13.1` |
| `yarn`

[2019-12-16 12:16] bradzacher commented on #1333
It's a problem with your `eslint-plugin-import` config.

https://github.com/benmosher/eslint-plugin-import/blob/813a116f93d160d349631ee5598fd387a38a9d1e/utils/parse.js#L53-L57

Something in your web of config dependencies is causing a problem with the parser. This is known working in other setups, so I don't know what's causing the problem in yours.

[2019-12-16 12:16] #1333 closed

[2019-12-16 12:19] bradzacher commented on #1337
have you installed typescript in your project in such a way that is resolvable from that package?

[2019-12-16 12:24] disovi commented on #1051
Maybe **no-unnecessary-condition** should also support optional chaining?
Example
[code]

[2019-12-16 12:25] bradzacher commented on #1051
https://github.com/typescript-eslint/typescript-eslint/pull/1315

[2019-12-16 12:28] stoneChen opened #1338 "Please publish @typescript-eslint/typescript-estree@2.11.1-alpha.2"
**What code were you trying to parse?**
none

**What did you expect to happen?**
npm install correctly.
**What actually happened?**
[code]
![image](https://user-images.githubusercontent.com/4470552/70906930-89336a80-2042-11ea-964b-a8fd003dc7ee.png)

npm install error
**Versions**
Please publish @typescript-eslint/typescript-estree@2.11.1-alpha.2
Thanks!

[2019-12-16 12:29] bradzacher commented on #1338
https://github.com/typescript-eslint/typescript-eslint#package-versions

[2019-12-16 12:29] #1338 closed

[2019-12-16 12:49] huminghao opened #1339 "Can't find package @typescript-eslint/typescript-estree's version: 2.11.1-alpha.2"
**What code were you trying to parse?**

[code]

**What did you expect to happen?**
npm install successfully

**What actually happened?**
npm install error
Error: [@umijs/fabric@1.2.4 › @typescript-eslint/parser@2.11.1-alpha.2 › @typescript-eslint/typescript-estree@2.11.1-alpha.2+f9a9fbfc] Can't find package @typescript-eslint/typescript-estree's version: 2.11.1-alpha.2

[2019-12-16 12:50] yuto0214w commented on #1337
Sorry for late reply.
I forgot install the typescript locally.
I will be careful not to forget that in the future.
Thank you.

[2019-12-16 12:50] #1337 closed

[2019-12-16 12:51] bradzacher commented on #1339
https://www.npmjs.com/package/@typescript-eslint/typescript-estree?activeTab=versions

We don't have a v2.11.1-alpha.2

[2019-12-16 12:51] #1339 closed

[2019-12-16 17:04] uniqueiniquity commented on #1335
@bradzacher I don't think the `getSemanticDiagnostics` API is considered slow from the language service or compiler perspective - certainly, I haven't heard feedback suggesting that it is.

[2019-12-16 18:13] johnwiseheart opened #1340 "It's not possible to have eslint run tslint fixers using @typescript-eslint/tslint/config"
I'm in the process of moving a large list of rules from `tslint` to `eslint`. The first step which makes sense to me is to setup `eslint`, and run `tslint` using the `@typescript-eslint/tslint/config` rule. However, it [doesn't seem possible](https://github.com/typescript-eslint/typescript-eslint/blob/6b7b88b628664309a8672d286614879dce479b4b/packages/eslint-plugin-tslint/src/rules/config.ts#L133)

[2019-12-16 20:57] kmdrGroch opened #1341 "[prefer readonly] readonly versus this[property]"
**Repro**

[code]

[code]

**Expected Result**

Get no error

**Actual Result**

"Member 'num' is never reassigned; mark it as `readonly`."  // 1

after adding `readonly` i get TS error:
"Cannot assign to 'num' because it is a read-only property." // 2

**Versions**

| package                            | version |
| ---------------------------------- | ------- |
| `@typescript-eslint/eslint-plugi

[2019-12-16 22:33] johnwiseheart commented on #1340
Turned out to be easier thank expected (though with a different solution to my proposed one above). Take a look at the PR: https://github.com/typescript-eslint/typescript-eslint/pull/1342

[2019-12-16 23:57] psatler commented on #792
I don't know if this will help other people running into this problem, but I was setting a Typescript React project the other day and I run into this same error when typing `const`.

TL;DR: I fixed this by adding `plugin:prettier/recommended` as the last config in the extends array of `.eslintrc.js` file.

I set up .eslint using the `eslint --init` CLI. Though, when typing `const` (like shown at h

[2019-12-17 00:01] bradzacher commented on #1335
In my brief investigation, the problem is that when you call `program.getSemanticDiagnostics(sourceFile)`, it constructs a brand new typechecker (`createTypeChecker(program, /* produceDiagnostics */ true)`, which then has to do a complete typecheck cycle on the file, so it can return the diagnostics.

This extra typecheck cycle is what takes an average of some 40ms.

I did some playing and there's

[2019-12-17 00:07] bradzacher commented on #1341
It's impossible for static analysis to detect this without unrolling the loops and analysing every possible value and branch.

This is an edge case which you'll have to use an eslint-disable comment.

Generally it's considered bad practice to do `this[prop]` on classes, esp when assigning.
It's a serious security hole (someone can easily spoof your types and pass in `{ configure: () => maliciously

[2019-12-17 05:34] #1340 closed

[2019-12-17 07:50] BO41 commented on #503
`unwantedPublicAccessibility` could be fixed without any problem

[2019-12-17 14:35] moun3iim commented on #792
Thanks a lot, solved !!

[2019-12-17 14:38] bradzacher commented on #792
It fixed it because it disabled the base `indent` rule.
Follow the step that I outlined above, and it'll fix it as well.

I also notice that you are using the `airbnb` config. This config doesn't support our plugin, so you'll end up with a lot of the wrong rules turned on.

Consider using https://www.npmjs.com/package/eslint-config-airbnb-typescript instead.

[2019-12-18 00:25] #1298 closed

[2019-12-18 00:39] eyedean commented on #1303
@yoyo930021
It's ```version": "2.10.0"```

[2019-12-18 00:50] bradzacher opened #1345 "Use discriminated unions to "branch" types for Property Names"
Types for things like `ClassProperty`/`MethodDefinition`/`Property`, etc are pretty ugly.

If the property name is computed, then any `Expression` is valid, otherwise only `Identifier | Literal` is valid.

However we don't represent this in the types, we just have a single object with `key: Expression`.

It'll be a bit of extra work, but we can improve upon this by doing something like:

[code]

N

[2019-12-18 06:27] iamdevlinph commented on #745
The rule does not work with the [documented options](https://github.com/typescript-eslint/typescript-eslint/blob/v2.12.0/packages/eslint-plugin/docs/rules/interface-name-prefix.md)

![image](https://user-images.githubusercontent.com/19337229/71060963-eb56b180-21a1-11ea-9244-52dfaa53027f.png)

![image](https://user-images.githubusercontent.com/19337229/71060970-edb90b80-21a1-11ea-8eba-3dfced945d5c.

[2019-12-18 06:34] bradzacher commented on #745
You are.
Eslint rules are configured the same way.

[code]

In your first example, you're not configuring it correctly at all. If you ran a cli lint run, you'd probably find eslint would barf at you.

Try putting the object as a second item to the array, instead of the string...

[2019-12-18 08:28] foisonocean commented on #1138
Is this problem solved?
I'm still facing this problem.

Versions:

[code]

[2019-12-18 08:29] bradzacher commented on #1138
please don't comment on closed issues.
open a new issue and fill in all of the details with a repro.

[2019-12-18 10:06] leanne1 opened #1350 "Exclude files in tsconfig without throwing an @typescript-eslint/parser error"
I know this has been raised in various issues but I do not understand how to handle this error.
I am using typescript-eslint using type checking rules in the linter and have set my lint to use my tsconfig for type checks. The issue is I have a glob I want to exclude from TS checks, which I do in tsconfig and works correctly in ts compiler (as in these files are not type checked), but as soon as i

[2019-12-18 10:09] bradzacher commented on #1350
Have a look at our onboarding docs.

https://github.com/typescript-eslint/typescript-eslint/tree/master/docs/getting-started/linting#ignoring-unnecessary-files

[2019-12-18 11:10] leanne1 commented on #1350
Thanks @bradzacher for you quick reply. However if  i understand correctly you are suggesting I lint-ignore the whole glob? As mentioned initially this is what i want to avoid doing, I have other lint rules which target this file glob and I wish to keep using. My question is how to stop the linter throwing a parser error when i TS ignore some files in the project? This also feels like a bug to me

[2019-12-18 11:24] bradzacher commented on #1350
There are more docs in that folder which might help you. See the docs on typed linting.

It depends on your exact intentions.

If you want to exclude the files from your tsconfig but not from the lint, then create a new tsconfig which is only used for linting.

If you want to exclude the files from your tsconfig and the lint, then use an eslint ignore file.

[2019-12-18 11:54] leanne1 commented on #1350
Thanks again for the additional information @bradzacher I fixed the issue by using a separate tsconfig just for the eslint config to use.

To be clear for others with the same issue as it wasn't clear to me from the existing issues i read, the following can be used to turn off lint file parse errors:

1. Create a separate tsconfig (e.g `tsconfig.eslint.json` for use only by the the lint `parserOpt

[2019-12-18 12:10] bradzacher commented on #1350
https://github.com/typescript-eslint/typescript-eslint/blob/master/docs/getting-started/linting/MONOREPO.md#one-root-tsconfigjson

Sorry, it's in the monorepo docs, because it's rare that single project repos use or need this kind of more complex config.

I suggest not doing this. An empty `include` array is the same as providing `include: ["**/*"]`, which is more than likely going to include more

[2019-12-18 12:10] #1350 closed

[2019-12-18 14:16] RyanHirsch opened #1351 "[@typescript-eslint/quotes] False Positive in enum"
When using backtick quote rule for enum, it improperly flags single quotes and `--fix` causes invalid code to be produced

[code]

[code]

**Expected Result**
[code]

**Actual Result**

[code]

**Additional Info**

**Versions**

| package                            | version |
| ---------------------------------- | ------- |
| `@typescript-eslint/eslint-plugin` | `2.12.0` |
| `@typescript-eslint/p

[2019-12-18 14:23] dcDalin commented on #905
It should be as simple as creating an` .eslintignore` file.

[code]

[2019-12-18 16:07] a-tarasyuk commented on #1351
@bradzacher Could you mark it as a bug? I'll fix it today.

[2019-12-18 16:38] chenshuai2144 commented on #1333
update doc：
https://github.com/typescript-eslint/typescript-eslint/blob/f335c504bcf75623d2d671e2e784b047e5e186b9/docs/getting-started/linting/FAQ.md

[2019-12-19 01:23] #1235 closed

[2019-12-19 01:23] ark120202 commented on #1335
If https://github.com/microsoft/TypeScript/pull/28584 would be merged it should be possible to always use single diagnostics producing type checker

[2019-12-19 03:42] bradzacher commented on #1335
Yeah, we could call `program.getDiagnosticsProducingTypeChecker` at parse time, and that would cache the default checker as the diagnostic checker.

There's still the slight problem of `getDiagnostics` eventually forcing the checker to do a complete typecheck (https://github.com/Microsoft/TypeScript/blob/4212484ae18163df867f53dab19a8cc0c6000793/src/compiler/checker.ts#L33233 - the file's too big f

[2019-12-19 05:13] #1345 closed

[2019-12-19 07:09] bradzacher commented on #251
Revisiting this - there's nothing we can do here.
ESLint does not provide us with the path to the current `.eslintrc`

I believe this is due to a few reasons:
- There may not be a config file at all
  - Config can be provided entirely via CLI flags, or via their JS API.
- Similarly, CLI flags may override options in your `.eslintrc`
  - If your `.eslintrc` contains no parser/parserOptions, but you

[2019-12-19 07:09] #251 closed

[2019-12-19 08:37] #1167 closed

[2019-12-19 09:50] BBosman opened #1356 "[@typescript-eslint/indent] False positive on function arguments with decorators"
After updating from `2.7.0` to `2.12.0` (and `eslint` from `6.6.0` to `6.7.2`) I start receiving unexpected violations on `@typescript-eslint/indent` without any code being changed on my side.

**Repro**

[code]

[code]

**Expected Result**

For this to be valid.

**Actual Result**

I get `Expected indentation of 0 spaces but found 2.` on the `@IClock clock: IClock,` line.

**Additional Info**

If

[2019-12-19 11:11] bradzacher commented on #1356
duplicate of #1232

[2019-12-19 11:11] #1356 closed

[2019-12-19 15:17] NMinhNguyen opened #1358 "[camelcase] Remove rule from recommended config"
I'd like to request that the `camelcase` rule is removed from the `recommended` config to match ESLint: https://eslint.org/docs/rules/camelcase

Prior art: #651 and #729.

**Repro**

[code]

[code]

**Expected Result**

**Actual Result**

**Additional Info**

**Versions**

| package                            | version |
| ---------------------------------- | ------- |
| `@typescript-eslint/eslint

[2019-12-19 19:19] fobdy opened #1359 "Port rules from fimbullinter/wotan project"
It seems that [wotan linter project](https://github.com/fimbullinter/wotan) has some [useful typescript rules](https://github.com/fimbullinter/wotan/tree/master/packages/mimir).
Could we take the best from there?

**Versions**

| package                            | version |
| ---------------------------------- | ------- |
| `@typescript-eslint/eslint-plugin` | `2.11.0` |
| `@typescript-eslint/pa

[2019-12-20 00:01] #1258 closed

[2019-12-20 00:21] bradzacher commented on #1358
As mentioned in https://github.com/typescript-eslint/typescript-eslint/issues/651#issuecomment-506087652

[code]

camelcase has been in recommended config since the recommended config was added for this plugin. I put forward that comment for commenting, and nobody suggested directly the rule be removed, just that stylistic rules be removed in general.

We removed the majority of the stylistic ones

[2019-12-20 00:23] #1351 closed

[2019-12-20 00:40] bradzacher commented on #1359
Happy to accept PRs for any of those rules.
We are a community run project, so if people think there are any particularly good ones, happy to have them.

[2019-12-20 00:42] #1185 closed

[2019-12-20 02:00] NMinhNguyen commented on #1358
@bradzacher thanks for your reply. There are several references as to why enforcing any sort of stylistic rules isn’t deemed best practice and I believe Create React App’s ESLint config was probably one of the first major ones to promote this idea.

- https://twitter.com/dan_abramov/status/1086215004808978434?s=20
- https://twitter.com/dan_abramov/status/1036279035805028352?s=20
- https://twitter.

[2019-12-20 02:14] NMinhNguyen commented on #1358
@bradzacher thanks for your reply. There are several references as to why enforcing any sort of stylistic rules isn’t deemed best practice and I believe Create React App’s ESLint config was probably one of the first key players to promote this idea.

- https://twitter.com/dan_abramov/status/1086215004808978434?s=20
- https://twitter.com/dan_abramov/status/1036279035805028352?s=20
- https://twitter

[2019-12-20 02:32] brainkim commented on #1358
@NMinhNguyen Psst. Since I was pinged. If you’re struggling with typescript-eslint’s recommended ruleset, here’s something that I realized once I actually compared the eslint’s ruleset and typescript-eslint’s ruleset. The only rule which actually overlaps is `no-unused-vars`. In other words you can use:
[code]
along with the default eslint:recommended rules and call it a day. I audited the rules u

[2019-12-20 04:10] bradzacher commented on #1358
All of these reference style rules in general, and they are more talking about rules like `indent`, and `func-call-spacing`. They all say you should use prettier. I _STRONGLY_ agree.

However, prettier does not mutate the AST by design, which means it will not ever enforce a naming convention.

They are outliers to the general case.
If your specific use case requires that you use those names, then

[2019-12-20 04:48] NMinhNguyen commented on #1358
@brainkim thanks so much for the advice! That's definitely useful to know 🙂

@bradzacher

I'll quote things that I think are applicable to `camelcase`:

If `eslint:recommended`, `eslint-config-react-app` and other such configs do not enable `camelcase`, why should `@typescript-eslint/recommended`? Is it really this preset's responsibility to *enforce*/*recommend* a particular naming convention? If

[2019-12-20 05:55] bradzacher commented on #1358
eslint-config-react-app is a different beast though.. It's enabled as part of create-react-app, and CRA is designed as a zero-config framework, so much so that adding your own config requires you to eject from the framework itself.

So eslint-config-react-app has to be as un-opinionated as possible, or else people will want to eject from the framework to disable the rules they don't agree with (an

[2019-12-20 10:07] muuvmuuv opened #1362 "[no-unused-var] Ignore variables that are valid when using ts-check"
The issue I have is that `eslint` does not see a type variable that is imported and used with `@ts-check` as "used". I posted an issue on `eslint` already, but they kindly advised me to ask here if that fits more into the typescript rules, which I agree with. In the below example you can see that I enable type checking in a JavaScript file, import a type and use it with the "js"-syntax, unfortunat

[2019-12-20 10:31] NMinhNguyen commented on #1358
It seems like many of the Twitter profiles I shared above actually discourage using it :) Ryan Florence put it this way:

And although CRA is zero-config, the ESLint confit that they do have has been widely recommended in the community because it does what a linter is supposed to do which is catch bugs.

I did read the relevant portion in your original comment, however I still don’t think it’s goo

[2019-12-20 11:58] bradzacher commented on #1358
They do, but they are speaking as people that actively understand everything to do with linting and all the lint rules on offer.

Speaking as someone who has been given the daunting task of setting up a lint config for a codebase (when nobody, not even myself understood linting), the airbnb config is great. Plug it in, adjust a few rules and it works perfectly. There's a reason it still has 1.5m w

[2019-12-20 12:09] bradzacher commented on #1362
Try our `no-unused-vars-experimental` rule. This rule is based off of the TS compiler's implementation, so it should handle this out of the box.

----

I don't think this is something we will do within our `@typescript-eslint/no-unused-vars` extension rule.

***Why?***

This would involve parsing JSDoc comments, which is a difficult thing to do correctly, and not something that is supported at all

[2019-12-20 12:09] #1362 closed

[2019-12-20 12:29] NMinhNguyen commented on #1358
Correct me if I’m wrong but it seems like the definition of `recommended` seems to differ between the official ESLint config and the official TypeScript one? Perhaps controversial, but maybe something like `@typescript-eslint/opinionated` would be a less contentious name? I’ve spoken to several people and they also had this expectation that they’d be able to drop in`@typescript-eslint/opinionated`

[2019-12-20 13:50] josgraha commented on #1358
Great discussion and thanks so much for the history @bradzacher, very interesting background here.  FWIW I had a similar experience using an internal closed API with kebab case.  I migrated our linting system from tslint to eslint-typescript and reading some article opted into eslint-typescript:recommended.  For the most part this was a great experience because eslint-typescript catches so many mo

[2019-12-20 16:39] assainov commented on #326
For me the problem was that typescript dependency wasn't installed in the project. Not sure how it helps, but once I installed it everything started working.

[2019-12-20 17:00] jsilveira2 commented on #326
I found that the problem occurred when I had more than one project within the same repository as I count here: https://github.com/microsoft/vscode-eslint/issues/856#issuecomment-567952628

In the end the problem was an eslint version bug in vscode.

[2019-12-22 16:14] buu700 opened #1372 "Rule suggestion: no unnecessary await"
Recent versions of vscode have been flagging occasional instances of unnecessary awaits in my code, where the value being awaited isn't actually a promise.

Having a rule to detect all of these while linting would be super useful. Aside from code cleanliness, this could also help catch a lot of bugs, e.g. someone might have accidentally awaited an observable without `.toPromise()`.

[2019-12-23 00:55] bradzacher commented on #1372
We already have a rule for this!

https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/await-thenable.md

[2019-12-23 00:55] #1372 closed

[2019-12-23 01:39] buu700 commented on #1372
Ah, perfect, thanks!

[2019-12-24 01:32] armano2 commented on #742
seems to be fixed in #1369, i will add some test case for this

[2019-12-24 02:35] #742 closed

[2019-12-24 02:35] #807 closed

[2019-12-24 15:07] mightyiam opened #1378 "[return-await] Recommendations on return-await"
Thank you for this super helpful project!

I am the main maintainer of https://github.com/standard/eslint-config-standard-with-typescript but I'm not a computer science person and sometimes struggle understanding linting rules.

One such example where I struggle is with the [return-await](https://github.com/typescript-eslint/typescript-eslint/blob/v2.13.0/packages/eslint-plugin/docs/rules/return-a

[2019-12-25 06:46] bradzacher commented on #1378
The bulk of the arguments in https://github.com/standard/standard/issues/1442 do not apply, because we are using typescript. Type checking very easily catches all of these "refactoring traps". Better still, if you use `explicit-function-return-types`, then you have a very clear signal that you've refactored incorrectly.

There is a lot of debate around as to whether or not you should await a retur

[2019-12-25 21:38] amilajack opened #1380 "Question: exposing types to ESLint?"
Does this plugin expose the types of AST nodes to ESLint? Maybe by adding them as meta information?

[2019-12-25 23:10] armano2 commented on #1380
expose the types of AST, can you clarify this?

ast nodes should be visible/traversable from eslint rules.
type definitions for ast nodes should be accessible from out package

----------------

unless by `types of AST nodes` you mean type-checking, if so than you can access it from parserServices. you can check how we accessing them in https://github.com/typescript-eslint/typescript-eslint/blob/m

[2019-12-26 02:04] bradzacher commented on #1380
As Armano mentioned, your question is a bit vague.

If you want to consume type information from an eslint rule, then you can check out any of the number of examples within our plugin. If the user uses our parser `@typescript-eslint/parser`, then you can access the type information via `context.parserServices`.

If you're talking about types for help with building eslint rules, then you should aga

[2019-12-26 02:04] #1380 closed

[2019-12-26 14:43] stevenhair commented on #121
I also see this issue with annotations:

[code]

eslint wants it to look like:

[code]

If I remove the first annotation, everything is fine.

[2019-12-26 20:17] demisx commented on #1303
This also happens to me too in VS Code when a new file is added. Have to restart VS Code each time for it to go away.

* `typescript@3.5.3`
* `@typescript-eslint/parser@2.13.0`
* `@typescript-eslint/typescript-estree@2.13.0`

[2019-12-27 13:49] olee commented on #686
How about allowing users to add a configuration like this?`
[code]

So by explicitly setting an option to false, it could be disabled.
This could easily be implemented by adding a check like `if (bannedType === false) continue;` below this line https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/src/rules/ban-types.ts#L127

[2019-12-27 22:43] amilajack commented on #1380
Thanks for the guidance! For context, I'm the author of `eslint-plugin-compat` which lints the compatibility of JS code. For accurate linting of code, we need to know the types of AST nodes.

For example:

[code]

Hopefully the extra context I added helps. Would love any recommendations or pointers!

[2019-12-28 00:03] bradzacher commented on #1380
So the problem you've got is that you need type information:
- which means they have to use our parser `@typescript-eslint/parser`,
- which means they have to setup their project for typescript,
- which means they will have typescript checking their project,
- which means this will be caught by their compiler `target`...

Which kind of devaluates the purpose of your plugin.

You can read through t

[2019-12-29 07:23] BinaryShrub commented on #964
@kripod thanks, that worked!

Here is the code snippet from the docs for easy access:
[code]

[2019-12-29 21:43] WA9ACE opened #1388 "[typedef] Provide inferred type information in AST for variableDeclaration option fixer"
**Repro**

[code]

As shown in the test here https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/tests/rules/typedef.test.ts#L530

The `typedef` rule with the `variableDeclaration` option on will produce an error for a line such as `const a = 1`. The TypeScript compiler can easily infer the type on the assignment. That type information should be made available

[2019-12-29 22:54] WA9ACE commented on #1388
It looks like this information shouldn't be added to the AST, and that I was misguided in my idea that it should. Accessing the TypeChecker via `context.parserServices.program.getTypeChecker()` provides access to what I want.

[2019-12-30 02:51] #1388 closed

[2019-12-30 08:32] danielnixon commented on #791
https://github.com/plantain-00/type-coverage is useful for spotting `any`s.

[2019-12-30 09:47] kimamula opened #1391 "Rule proposal: prefer hash names for private members"
TypeScript 3.8 will add support for private named instance fields. What about creating a rule for disallowing the use of the `private` accessibility modifier in favor of the standard hash names for private members?

Examples of **incorrect** code for this rule:

[code]

Examples of **correct** code for this rule:

[code]

### Options

[code]

[2019-12-30 15:59] andreialecu opened #1392 "Wrong typescript version being used with yarn workspaces/monorepo (repro inside)"
I've set up a simple repro where there are two packages inside a packages/* directory, and their package.json are these:

[code]
[code]
For some reason yarn determines that typescript 3.5.3 gets to be put in the root workspace's node_modules and eslint uses that typescript version, resulting in problems inside packages such as this one:

![image](https://user-images.githubusercontent.com/697707/71

[2019-12-30 17:12] glen-84 commented on #1391
Perhaps it should allow the opposite as well – enforcing soft (compile-time-only) privacy?

[2019-12-30 20:50] demisx commented on #55
We have an a fairly small Nx managed monorepo (~700 TS files in 60 libs, each lib with its own `tsconfig.json` file) and the linting performance degraded drastically after migration from TSLint to TypeScript ESLint. What used to take 5 mins to lint, now takes ~20 mins.  Please note that under Nx monorepo,  each of the libs is linted separately.

[2019-12-30 21:48] bradzacher commented on #1392
We can't do anything more than just requiring the module.
The node/npm ecosystem runs on the assumption that your dependencies are correct.

If yarn has set up a weird set of dependencies in your workspace, then you'll have to file an issue with them for support.

[2019-12-30 21:48] #1392 closed

[2019-12-30 21:54] bradzacher commented on #1391
Probably best to be added as an option on the `explicit-member-accessibility` rule.

[2019-12-30 21:56] bradzacher commented on #55
@demisx please file a separate issue and give us as much information as possible, so we can look into it.

[2019-12-30 22:42] andreialecu commented on #1392
If you require typescript from within a script in the ‘test’ project, the version of typescript will be correct so this isn't a yarn issue.

Perhaps it's an issue with eslint instead but this is still an issue and the repro shows it.

At a minimum a note about this should be added to the documentation.

[2019-12-30 23:50] bradzacher commented on #1392
As far as yarn is concerned, all of the `@typescript-eslint` packages essentially have a peer dependency of `"typescript": "*"`.

When yarn goes about installing our packages within the `test` package, it first checks the requirements for our packages. As mentioned it sees _no strict version dependency_.
Because of this, yarn tries to be helpful, and hoists the installation to the root of the repo

[2019-12-31 00:26] #1025 closed

[2019-12-31 00:26] kimamula commented on #1391
Then the options for `explicit-member-accessibility` should be changed to something like the following?

[code]

I'm afraid that the name `explicit-member-accessibility` is a bit confusing for this use case though.
Perhaps it should be renamed to something like `member-accessibility` and the name `explicit-member-accessibility` should remain as an alias for it?

[2019-12-31 01:33] kalbert312 opened #1394 "IDE Parsing error when using overlapping globs"
**What code were you trying to parse?**
New files added to the project

**What did you expect to happen?**
ESLint works

**What actually happened?**
[code]

**Versions**

| package                     | version |
| --------------------------- | ------- |
| `@typescript-eslint/parser` | `2.10.0` |
| `TypeScript`                | `3.7.4` |
| `ESLint`                    | `6.7.2` |
| `node`

[2019-12-31 01:47] armano2 commented on #1394
can you tell me what version of IntelliJ you using?

this seems similar to https://youtrack.jetbrains.com/issue/WEB-41250 but i don't see any active tickets on their side for this: https://youtrack.jetbrains.com/issues?q=parserOptions.project%20@typescript-eslint%2Fparser

[2019-12-31 01:54] kalbert312 commented on #1394
[code]

[2019-12-31 02:39] armano2 commented on #1394
@kalbert312 seems like issue is related somehow to resolution of `tsconfig`

bdw. its started working after i changed

`tsconfig.json`
[code]

[2019-12-31 03:03] armano2 commented on #1394
@kalbert312 to fix this issue you have to fix your tsconfig,

`include` is a glob path not directory

`tsconfig.json`
[code]

[2019-12-31 04:19] kalbert312 commented on #1394
That seems to have worked. Thanks.

[2019-12-31 07:13] bradzacher commented on #1394
this should work in both cases - typescript determines the passed path is a directory, and treats it the same as `src/**/*`

If this is not working correctly, then it's probably a bug in our invalidation logic.

I've got https://github.com/microsoft/TypeScript/issues/35676 open to work with the MSFT team on a better way of doing the parsing logic

[2019-12-31 13:21] armano2 commented on #1394
issue seems to be present only if `extends` is present and when its trying to merge glob patterns and non glob one

`"include": ["src"],` + `"include": ["./**/*", "./.storybook/**/*"],`

This seems to not work well in IntelliJ, but it works when running from console.

[2019-12-31 23:37] bradzacher commented on #1394
It'll always work from the console. This error will only be triggered from the IDE because the IDE is persistent, so it uses the program invalidation logic. There's the function [`maybeInvalidateProgram`](https://github.com/typescript-eslint/typescript-eslint/blob/93442333728ae9a9b67bd2de95b38840d9145a8e/packages/typescript-estree/src/create-program/createWatchProgram.ts#L347) which handles that l

[2020-01-01 00:53] nicogreenarry opened #1395 "Yaml eslintrc file results in error: Failed to load parser 'typescript-eslint/parser'"
**Repro**

Here's [a repo](https://github.com/nicogreenarry/eslint-typescript-sandbox) reproducing the issue.

I set it up using the first few [setup instructions](https://github.com/typescript-eslint/typescript-eslint/blob/master/docs/getting-started/linting/README.md).

When I use the js version of the config (rename `.eslintrc.js.disabled` to `.eslintrc.js`, and rename `.eslintrc.yaml` to `.esl

[2020-01-01 00:54] bradzacher commented on #1395
you've got the name wrong. our packages are within the `@typescript-eslint` namespace. You forgot the `@`.

`@typescript-eslint/parser`

[2020-01-01 00:54] #1395 closed

[2020-01-01 01:28] bradzacher opened #1397 "Rule suggestion: flag optional chain after a non-null assertion"
Preceding an optional chain with a non-null assertion is useless.

The entire point of the optional chain is that it handles the non-null case.
The non-null assertion doesn't actually change the type, and is functionally useless.

[code]

Thinking about it, this could potentially live as an option within `no-extra-non-null-assertion`, but I'm not sure if it entirely fits in there.

[2020-01-01 01:36] bradzacher opened #1398 "Rule suggestion: flag non-null assertion applied to an optional chain"
The optional chain operator is built such that it will return `undefined` if there is a nullish member.

Ending an optional chain expression with a non-null assertion is _blatantly_ incorrect, and leads to type safety holes in your code, which will likely lead to runtime errors.

It is much better to either hoist the non-null assertion up the chain, so the thing you "know" is nullish is asserted o

[2020-01-01 17:30] kalbert312 commented on #1394
Well it seemed to initially work but I'm still getting this same error on new files with new glob. For the record, I do have IntelliJ configured to recognize `tsconfig.*.json` as TSConfigs so it will respect them. By default I think it only looks for `tsconfig.json` (based on file types settings).

[2020-01-01 20:19] nicogreenarry commented on #1395
No, I tried that already, and that doesn't solve the issue. I just pushed a new commit demonstrating this. Can you reopen the issue?

[2020-01-01 20:28] armano2 commented on #1395
@nicogreenarry this is not an issue with our package, its issue with how yaml read files

[code]
[playground](https://nodeca.github.io/js-yaml/#yaml=cm9vdDogdHJ1ZQpwYXJzZXI6ICdAdHlwZXNjcmlwdC1lc2xpbnQvcGFyc2VyJwpwbHVnaW5zOgogIC0gJ0B0eXBlc2NyaXB0LWVzbGludCcKZXh0ZW5kczoKICAtICdlc2xpbnQ6cmVjb21tZW5kZWQnCiAgLSAncGx1Z2luOkB0eXBlc2NyaXB0LWVzbGludC9lc2xpbnQtcmVjb21tZW5kZWQnCiAgLSAncGx1Z2luOkB0eXBlc2NyaXB

[2020-01-01 22:39] armano2 commented on #1240
fixed by #1244

-------

@shenshaohui1991 small note: `typescript-eslint-parser` and `eslint-plugin-typescript` is no longer maintained and you should avoid having them in dependencies

[2020-01-01 22:39] #1240 closed

[2020-01-01 23:19] armano2 commented on #1186
fixed in #1190

[2020-01-01 23:19] #1186 closed

[2020-01-01 23:48] armano2 commented on #1224
small note:
CustomEvent is not typescript specific thing, this is part of web api,
from context of browser this is a class

https://developer.mozilla.org/en-US/docs/Web/API/CustomEvent
https://developer.mozilla.org/en-US/docs/Web/Guide/Events/Creating_and_triggering_events

[2020-01-02 02:47] armano2 opened #1399 "Lodash is deprecating per method packages"
Loadash is slowly deprecating "per module packages" in favor of single package that contains all of scripts.

currently we are using:
- `lodash.isplainobject` (dev) - droped in #1393
- `lodash.memoize`
- `lodash.unescape` - used in ts-estree

What are our plans for this? Do we want to drop `unescape` from dependencies or do we want to migrate to `lodash/unescape`.

### Reference:
- https://github.

[2020-01-02 05:03] bradzacher commented on #1399
Do we need to drop the package or even upgrade it? What do we get from bothering to upgrade to v5?
It's not a large piece of code, so it's not like it's a security risk or anything.

[2020-01-02 05:06] armano2 commented on #1399
keeping dependencies up to date reduces dependency tree of developers :>

v5 is not yet live, this is just reminder that we should look into this

[2020-01-02 15:42] ulrichb opened #1400 "[no-unnecessary-type-arguments] crashes with "TypeError: inputs is not iterable""
**Repro**

Sry, I tried by cannot create an isolated repro sample

**Expected Result**

No crash.

**Actual Result**

[code]

**Additional Info**

I added a console log, and saw that within `getTypeParametersFromType()`, `sym` is defined, but `sym.declarations` is `undefined`.

Note that there was an undefined-check, and it has been removed recently in https://github.com/typescript-eslint/typescri

[2020-01-02 16:21] armano2 commented on #1400
i understand that this is private repository?

if so can you atleast explain what happens in `reproB.tsx` (without code - it should be around ~8th character)

[2020-01-02 16:27] ulrichb commented on #1400
Jep, private repo.

It's the following line:
`export type JsonMonacoEditorProps = ExtractComponentProps<typeof LazyJsonMonacoEditor>;`

... but it when isolating any of the stuff (`LazyJsonMonacoEditor` or `ExtractComponentProps`), the crash disappears, so this doesn't help.

BTW: This is the console log of `sym`, maybe this helps:
[code]

[2020-01-02 17:59] armano2 commented on #1400
ok i managed to reproduce it:

This is minimal test case:
[code]

Small note this code is invalid xd

[2020-01-02 19:48] #1400 closed

[2020-01-02 20:45] robbiespeed commented on #1394
This also happens if "include" is left undefined, then all new files get this error until eslint is restarted

[2020-01-03 10:31] ulrichb commented on #1400
Hmm, that's strange. In my case the imported `ExtractComponentProps` (and the whole project) compiles fine with TSC. Is there any possibility to log the "compile errors" produced by TSTree?

[2020-01-03 12:52] ma-zal commented on #1302
@bradzacher Can you provide details, how to use it? I was not able to found the documentation.

[2020-01-03 14:22] armano2 commented on #1302
@ma-zal https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/no-unused-vars-experimental.md

[2020-01-03 14:38] armano2 commented on #1400
in your code there is issue with resolving one of dependencies (type of it) and it's resolved as `unknown`, my example produces same type error, (without seeing code its hard to say what's wrong there)

[2020-01-03 15:27] ulrichb commented on #1400
... so is there any flag to show all resolution errors in ESLint? (Have no errors when compiling with TSC.)

[2020-01-05 02:21] tswaters commented on #1358
This plugin's config is in a special sort of gray area whereby it needs to toggle certain eslint rules off, and turn on it's own for anything to work at all.

I'm looking through and it seems the choices of config are `recommended` which includes a slew of opinionated style-based lint rules, `all` which includes that and more... and `eslint-recommended`, which disables certain eslint rules that ts

[2020-01-05 09:45] publicJorn opened #1404 "[explicit-function-return-type]: unexpected error for react component class methods"
**Repro**

[code]

[code]

**Expected Result**

No warnings or errors on react class methods.

**Actual Result**

Getting error "Missing return type on function." on `componentDitMount` and `render` and other Component class methods.

**Additional Info**

I expect no error, because the interface in `@types/react` extends [componentLifeCycle](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/

[2020-01-05 09:50] publicJorn commented on #1404
Extra info; My `eslintrc.js`:

[code]

[2020-01-05 21:09] bradzacher commented on #1358
We are a community run project with volunteer maintainers. The maintainers are mostly here to oversee the direction, triage issues, review and merge PRs, and maintain the parser internals (which are usually too extensive for new contributors to jump into).

As mentioned in my previous comment:

We recommend that you use a rule to enforce a naming convention. Which is why it's in the recommended se

[2020-01-05 21:15] bradzacher commented on #1404
This is working as intended.

There is no return type annotation on those methods.

The rule does not use type information, so it does not and cannot interrogate the types of any interfaces or super classes to see what functions are defined.

Regardless, the rule is about _clearly_ creating contracts for your methods/functions, so interface/super class methods are not something the rule should che

[2020-01-05 21:15] #1404 closed

[2020-01-06 10:15] publicJorn commented on #1404
Given your explanation I understand. It would have saved me a ton of typing though..

Thanks for your reply!

[2020-01-06 13:55] buschtoens opened #1407 "[default-param-last] False positive for optional arguments denoted by `?`"
**Repro**

[code]

[code]

**Expected Result**

The code should pass linting, as `c?` is equivalent to `c = undefined`.

**Actual Result**

`b` fails `default-param-last`, as it is not the last parameter.

**Additional Info**

**Versions**

| package                            | version |
| ---------------------------------- | ------- |
| `@typescript-eslint/eslint-plugin` | `2.14.0` |
| `@typescr

[2020-01-07 19:31] G-Rath commented on #929
Personally I think that maybe just `accessor` would be fine, since

can be enforced by [`grouped-accessor-pairs`](https://eslint.org/docs/rules/grouped-accessor-pairs) , but ultimately I'm not too fussed so long as I can say "all accessors (static or otherwise) must be after the constructor but before instance methods, and all static accessors must be above instance accessors"

("accessors" here m

[2020-01-07 20:38] nevir opened #1410 "[no-unnecessary-type-assertion] false positive on templated values"
**Repro**

[code]

[code]

**Expected Result**

No error

**Actual Result**

[code]

**Versions**

Reproduces on `master`

[2020-01-07 20:44] bradzacher commented on #1410
This is due to weirdness in the typescript types API, illustrated by:
![image](https://user-images.githubusercontent.com/7462525/71927704-ec4c8480-314a-11ea-8a90-d442b0e93528.png)

Typescript notices that there's no type for the generic, and that there's an explicit cast on the return type, so it sets the type of the generic based on that.

Why do you have a method with a generic that you're not u

[2020-01-07 21:11] armano2 commented on #1394
This issue is weird:

https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/typescript-estree/src/create-program/createWatchProgram.ts#L393-L405
[code]

`cb` is called correctly one for correct path

------------------------

https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/typescript-estree/src/create-program/createWatchProgram.ts#L419-L423
[code]

[2020-01-07 21:21] nevir commented on #1410
Yeah, this is a bit of a contrived example. Where I'm running into it in the real world is with [`lodash.get`](https://lodash.com/docs/#get), which boils down to:

[code]

[code]

[2020-01-07 21:24] nevir commented on #1410
Without the cast, `result` is typed `unknown`.

However, once loaded, the checker keeps the inferred type around (e.g. [`originalExpression`](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/src/rules/no-unnecessary-type-assertion.ts#L271) is considered to be type `number`)

[2020-01-07 21:32] bradzacher commented on #1410
It's similar to the problem we ran into here: https://github.com/microsoft/TypeScript/issues/35431 where an assertion changes the type of the original statement, instead of just changing the new assertion statement.

[2020-01-07 22:00] bradzacher commented on #1410
Reading into it a bit more, I found https://github.com/microsoft/TypeScript/issues/31435, which means this is entirely intentional.

We might have to look into adding some rather complex checks to figure out if the thing being cast is a call expression with a signature that has a generic in the return type position...

A workaround for this is to instead use a type annotation:
[code]
Typescript us

[2020-01-08 05:02] G-Rath commented on #1085
@bradzacher I'm keen to give this a go, but so far all I can come up with is doing something along the lines of

[code]

Which I don't think is the *worst* solution in the world, but I feel like I should be able to use the type information to get the actual type of `console.<x>` and compare that - except I can't actually figure out how to get the type 😬

Got any tips or pointers for me?

(Mind you

[2020-01-08 05:49] bradzacher commented on #1085
@G-Rath, you might be able to do something similar to what I suggested for the `no-throw-literal` rule:

https://github.com/typescript-eslint/typescript-eslint/blob/6aa6bc738705927685e1c0dfa12ccadc3fe53d96/packages/eslint-plugin/src/rules/no-throw-literal.ts#L31-L40

Though TBH I'm not sure if `program.isSourceFileDefaultLibrary` will work for this.
If the project includes the dom types (`lib.dom.

[2020-01-08 06:12] G-Rath commented on #1085
So close, and yet so far 😭 You're right that it doesn't work unless you include the `dom` lib.

I'll have a hunt around and see if I can figure out a cunning way around it, but otherwise I'll look at doing the good enough path 🤷‍♂

[2020-01-08 11:54] ux-engineer commented on #842
No activity on this issue even though this is still open?

Shouldn't the autofix logic change **Object** to **Record<string, unknown>** instead of **Record<string, any>** (which causes a further type error)?

[2020-01-08 12:07] glen-84 commented on #842
@ux-engineer,

See https://github.com/typescript-eslint/typescript-eslint/pull/848.

The fixer will be removed.

It's considered to be a breaking change because `object` was also added. If that was split into a separate PR, then I don't think that the removal of the fixer for `Object` should be considered a breaking change.

[2020-01-08 12:21] OliverJAsh commented on #673
Just came across this again. I can ban `location` using `no-restricted-globals` but still use that identifier for non-global values (✅), however if I ban the global type `Location` using `ban-types` it will also ban that identifier for non-global values (❌).

If I wanted to write this lint rule, how can I read a list of "global types" in the lint rule? `no-restricted-globals` uses `scope.through`—

[2020-01-08 17:15] OliverJAsh commented on #1112
:+1:. Also, note that [the example in the docs](https://github.com/typescript-eslint/typescript-eslint/blob/6aa6bc738705927685e1c0dfa12ccadc3fe53d96/packages/eslint-plugin/docs/rules/unbound-method.md) suggests the destructuring variant should error, so either this is a bug or the docs are a bit misleading?

[2020-01-08 17:45] bradzacher commented on #842
We'll be planning to start on the 3.0 release soon™.
As the core maintainers are volunteers who provide their spare time for free, it's a question of finding time where we can all collaborate together so we don't block the release for too long.

[2020-01-08 17:53] bradzacher commented on #673
It depends on what you mean by "global types".

There are two types of global types:
1) typescript's core lib types (provided in `lib.**.d.ts`, specified by the `lib` compiler option)
2) user-land global types:
  a) types defined in `@types/**`
  b) types defined in misc packages in `node_modules`
  c) project-local types.

For (1), it's super simple to detect them, see this example from the `no-t

[2020-01-08 18:08] bradzacher commented on #1112
Hmm, sometimes I don't know a rule well enough to catch things like that when triaging. Thanks for flagging.

Looking closer at the tests, they are pretty clearly written incorrectly, which is probably why this isn't working

https://github.com/typescript-eslint/typescript-eslint/blob/6aa6bc738705927685e1c0dfa12ccadc3fe53d96/packages/eslint-plugin/tests/rules/unbound-method.test.ts#L217-L220

[2020-01-08 19:02] G-Rath commented on #60
This also errors on global augmentations, which seems fixable to me b/c it actually only happens when wrapped in a `declare global`:

[code]

So you should just be able to look for the `declare global` and go off that.

Let me know if you'd like a separate issue to track this, or if I've missed something :)

[2020-01-08 19:08] G-Rath commented on #60
Additionally, a question: is `no-redeclare` actually picking up errors that TypeScript itself isn't?

Aside from the potentially nicer error messages, I'm wondering how much value there is in actually having `no-redeclare` in a TypeScript codebase?

[2020-01-08 19:15] bradzacher commented on #60
In response to your second comment - AFAIK it doesn't catch anything.
For these sorts of rules which catch things typescript catches itself, usually people use it because either:
- they have webpack builds wherein they use the typescript in isolated modules mode (or they use babel to transpile).
- they haven't thought about the fact that it does something TS does.

This duplicating a TS compiler e

[2020-01-08 19:43] 20ghrrdll opened #1414 "[no-magic-numbers] False positive on negative numbers in enums w/ ignoreEnums flag on"
Hello! I came across this odd behavior when trying to add the no-magic-numbers rule to a project:
**Repro**

[code]

[code]

**Expected Result**
To pass without returning any errors

**Actual Result**
eslint returns: `error: No magic number: -1 (@typescript-eslint/no-magic-numbers)` .
 0, on the other hand, is not flagged.
**Additional Info**

Eslint exited with a status 1, no errors were thrown.

[2020-01-08 20:03] bradzacher commented on #1414
the rule didn't properly handle `UnaryExpression` in enums.

[2020-01-08 21:26] #1394 closed

[2020-01-08 21:43] armano2 commented on #1303
@eyedean @demisx @yoyo930021 today we merged fix for ~similar issue (not in vue sfc), can you retest it with `2.15.1-alpha.5` or provide step by step how to reproduce it?

https://github.com/typescript-eslint/typescript-eslint/pull/1412

[2020-01-08 22:30] #1414 closed

[2020-01-08 23:46] bradzacher opened #1417 "Reworking the `parent` property on AST Nodes"
Right now the `parent` property is optional on all AST nodes.
However in reality, it's always defined on all AST nodes, except for `Program`, where it is missing.

This leads to a bunch of unnecessary ifs/optional chains/"trust me it's right" assertions, all of which "harm" the type safety, or are impossible to get coverage on (leading to istanbul ignore statements):

[code]

There is an issue wit

[2020-01-09 00:10] armano2 commented on #1417
Note: Setting up parent within ts-estree can be misleading for projects that do not use eslint.

what do you think about using type augmentation inside eslint-utils/plugin that will extend nodes instead?

[code]

https://github.com/typescript-eslint/typescript-eslint/pull/1416/files#diff-ea705e9b27753be392a33703d63866ce

[2020-01-09 00:14] bradzacher commented on #1417
Hence point (1) - changing `typescript-estree` so it does.

Potentially, but the problem with that is that it doesn't help users of `experimental-utils`.
If we can make the declaration merging work for the types within the `experimental-utils` package, then we don't need to worry about modifying the types in `typescript-estree`.

[2020-01-09 00:43] armano2 commented on #1417
i like idea of using templates for parent, it will be awesome if there will be way to do so from within `experimental-utils`, but i'm unsure if you can do augmentation that adds template to interfaces.

(i did my PR just as POC in 5min)

[2020-01-09 16:27] 20ghrrdll commented on #1414
Thanks for the speedy response!

[2020-01-09 17:18] bradzacher opened #1420 "NodeJS v8 EOL at begin of Jan 2020"
NodeJS v8 will fall out of maintenance at the end of Jan 2020.
ESLint will no doubt follow suit and drop support for it a few months after.

As we are planning on preparing a 3.0.0 release soon, we should consider dropping support as well, to save us being forced to do another major bump when ESLint drops support later.

https://github.com/nodejs/Release/blob/77fe085297e8d823f2475653e9eb2e9b2b2ffc

[2020-01-09 18:03] OliverJAsh commented on #1085
FYI I think there are a few other instances of this problem, e.g. `JSON.parse` and `JSON.stringify`.

@ab-pm I'm curious to hear more about how you would solve this by changing the types.

[code]

AFAICS, `console` methods don't specify a `this` parameter:

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/eea68f0134af6c534f3fd861d9e5e4833447400e/types/node/globals.d.ts#L60

… so why would w

[2020-01-09 18:06] OliverJAsh commented on #673
Thank you @bradzacher. In my specific case I only care about (1), so that's very useful 😄

[2020-01-09 23:44] robbiespeed commented on #1303
@armano2 I tested typescript-estree version 2.15.1-alpha.7 and it still has the issue with newly created ts/tsx files when using the vscode extension

[2020-01-09 23:52] armano2 commented on #1303
@robbiespeed can you tell me step by step what are you doing (files/folders wise), or is this happening for any `.vue` file? what OS are you using?

[2020-01-10 00:07] eyedean commented on #1303
Thanks for looking into this @armano2 .

I just tested `2.15.1-alpha-7` parser, and I still have the problem.  It's even happening on my Node.js repo (only `.ts` files), so shouldn't be Vue or SFC specific.

All I do is I duplicate one of the files I have (basically create a new file with some .ts content) and it errors on the first character of the first line with the same parsing error as above.

[2020-01-10 00:12] armano2 commented on #1303
i was able to reproduce this in simple example project, i will take a look into this

[2020-01-10 00:13] eyedean commented on #1303
Also, since it's only happening to *some of us*, I have included a screenshot of the relevant files to the configuration of eslint and typescript.

It *might be* something in the config that we are doing wrong.

<img width="975" alt="Screenshot at Jan 09 16-11-54" src="https://user-images.githubusercontent.com/5694695/72115132-d54c9480-32fa-11ea-8611-13259f97da33.png">

[2020-01-10 00:30] armano2 commented on #1303
this is completly unrelated to rules or plugins

![image](https://user-images.githubusercontent.com/625469/72115362-11a5e200-3347-11ea-997d-e672b494782c.png)

if someone is interested https://github.com/armano2/typescript-eslint-1394

[2020-01-10 00:39] robbiespeed commented on #1303
It seems to only happen randomly now when creating a file in a newly created folder.

Here's one of the errors with debug enabled:
[code]
<details>
<summary>System / Project Details</summary>
os: Linux (Fedora 30)
vscode: 1.14.0
eslint extension: microsoft/eslint 2.0.13
eslint: 6.7.2
typescript-eslint/eslint-plugin: 2.15.0
typescript-eslint/parser: 2.15.0
typescript-eslint/typescript-estree: 2.15.

[2020-01-10 00:56] armano2 commented on #1303
[code]

this temporarily solves it for vue and ts files, now question is why 😸

[2020-01-10 02:45] bradzacher opened #1423 "Changes to the `recommended` sets for 3.0.0"
Similar to what I did for 2.0.0 (in #651), I'm putting forward the new recommended set ahead of time.
I'm looking for feedback from the community before we go ahead and make the changes.

First up, let me clarify that this set will be somewhat opinionated. It shall contain a small set of stylistic rules that I believe are a best practice based off of what I've seen in my career, and what the commu

[2020-01-10 05:52] lostfictions opened #1425 "[unbound-method] False positives when not invoking or assigning method"
`unbound-method` often (but not consistently) reports a false positive when simply checking for the existence of a method.

**Repro**

[code]

Given this code:

[code]

This produces a warning:

[code]

However, this (correctly) does not show a warning:

[code]

Additionally, while technically a useless expression (and likely a code smell), simply referring to the method also displays a warning:
[

[2020-01-10 06:34] G-Rath commented on #1378
@bradzacher could you confirm for me if you meant `return-await` or `require-await`?

[2020-01-10 06:36] G-Rath commented on #1423
I'm fairly happy with the majority of what you've got here, but I do have three points:

* `"@typescript-eslint/explicit-function-return-type": "warn",`

I'm a fan of this on paper, but in practice it is very noisy, especially given that WebStorm now has type hints.

I feel the primary annoyance I have is when I'm returning simple types in simple methods, or `void`.

"Simple types in simple method

[2020-01-10 06:42] bradzacher commented on #1378
Good catch, sorry. Meant `return-await` (fixed it)

[2020-01-10 07:02] bradzacher commented on #1423
This is why I suggested switching it for the upcoming `explicit-module-boundary-types` (#1020).

I personally love explicit return types on everything for the reasons I stated (clear contracts, and easy to review). But I do understand that people, esp those who use frameworks like react/angular which have many void functions, dislike annotating _every single_ method.

This is why I suggested the n

[2020-01-10 07:35] glen-84 commented on #1420
It is already EOL (2019-12-31).

[2020-01-10 08:39] glen-84 commented on #700
Is this a duplicate of #636?

[2020-01-10 09:27] glen-84 commented on #1423
_Disclaimer: I'm not actually using the recommended set._ 🙃

1. `@typescript-eslint/require-await` – I decided not to enable this rule based on the discussion in [this issue](https://github.com/eslint/eslint/issues/6820) (there are valid use cases for not using `await` in an async function). With the addition of TypeScript, I'm not sure if this rule is actually useful in catching bugs?

2. `@types

[2020-01-10 14:01] xylix opened #1426 "[consistent-type-assertions] Specifying configuration options in YAML not working as expected"
Error
[code]

Actual working syntax:
[code]

**Additional Info**
[code]

**Versions**

| package                            | version |
| ---------------------------------- | ------- |
| `@typescript-eslint/eslint-plugin` | `2.15.0` |
| `@typescript-eslint/parser`        | `2.15.0` |
| `TypeScript`                       | `3.7.4` |
| `ESLint`                           | `6.8.0` |
| `node`

[2020-01-10 15:24] bajtos opened #1427 "[no-throw-literal] False positive for custom Error classes using generics (templates)"
The recently introduced rule `no-throw-literal` (see https://github.com/typescript-eslint/typescript-eslint/pull/1331) does not recognize generic classes as Errors and report false positives.

**Repro**

[code]

[code]

See https://github.com/bajtos/typescript-eslint-sandbox/blob/master/src/no-throw-literal.ts

**Expected Result**

No problems are reported.

**Actual Result**

[code]

**Additional

[2020-01-10 15:42] #700 closed

[2020-01-10 16:34] bradzacher commented on #1426
Unless I'm mistaken, you're using the wrong yaml syntax.
This is why I personally don't use yaml ever. YAML just gets translated to JSON under the hood, and the representation is just hard to understand IMO.

your syntax produces the following JSON, which is wrong:
[code]

If you instead drop the second `-`, then it will do the correct thing
[code]

[2020-01-10 16:34] #1426 closed

[2020-01-10 16:49] xylix commented on #1426
Your example still fails with
[code]

[2020-01-10 17:34] bradzacher commented on #1423
One must always look at the eslint core team discussions through the lens of a typescript developer - they do not have types, and they cannot use types, so they _rely_ on lint rules to validate their code.
For us, typescript's type checker can help deal with a lot of their concerns in a cleaner, clearer way, and explicit function return types help ensure you return a promise on every branch etc.

[2020-01-10 18:49] G-Rath commented on #1423
That's really interesting - I recently had this flagged on code a coworker of mine had written, as they were using TS for the first time, but having checked it out you (of course) correct: I'm not told I have to use `await` for `async () => Promise.resolve()`.

Meanwhile I mean to do this:

[code]

I definitely agree the rule is better than the eslint version, so I guess now I'm neutral about it 🤷

[2020-01-10 18:55] glen-84 commented on #1423
I'm going to enable this. I think that it'll do more good than harm in my case.

I thought that I was affected by #636, but I'm actually not. I'm also going to enable this.

It's a tricky one. I think that even though it's correct in many/most cases, it's likely going to cause a fair amount of noise in larger codebases that have not had it enabled. I'm interested to hear what other developers have

[2020-01-10 19:28] #1427 closed

[2020-01-10 20:02] #1407 closed

[2020-01-10 22:21] duncanleung commented on #389
@khaledosman Thanks for the tips!

I'm wondering, does typescript-eslint run through webpack?

Setting up webpack module loader exclude rules, and using `fork-ts-checker-webpack-plugin` sounds interesting, but I'm not seeing where typescript-eslint would use webpack configs and plugins?

I'm thinking that `.eslintignore` and `.tsconfig.json` `includes`/`excludes` should be the files handling what

[2020-01-10 22:39] khaledosman commented on #389
@duncanleung right, [fork-ts-checker](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin) has an argument to run eslint that is documented in their README.

In my personal setup I even commented out fork-ts-checker and left type-checking disabled for more performance, since I didn't really need it or linting in my setup because I was able to see the issues in my VSCode editor right away

[2020-01-11 07:37] lolmaus commented on #964
Ain't this a bug that should be fixed?

Please consider reopening.

[2020-01-11 07:43] bradzacher commented on #964
No, it is not.
This is an intentional decision.
ESLint has `overrides` so you can choose which files to run what rules on.
If you configure it on a js file, it'll report errors you can't fix.

The way to fix it is mentioned above.

[2020-01-11 07:48] johnnyreilly commented on #389
Hey @duncanleung,

I work on fork-ts-checker-webpack-plugin and ts-loader.

If you turn on ESLint with fork-ts-checker-webpack-plugin it's an entirely plug and play experience. Behind the scenes ESLint is being invoked and it is powered by the same mechanisms as ESLint in VS Code etc.

I blogged about this and this may be helpful to you:

https://blog.johnnyreilly.com/2019/07/typescript-and-eslint

[2020-01-11 07:50] lolmaus commented on #964
Well, why does it intentionally apply rules to files that don't work together?

We know the rule crashes on JS files and is intended for TS files only. Why don't we apply it to TS files only?

I feel like this is [The Inmates Are Running the Asylum](https://www.amazon.com/Inmates-Are-Running-Asylum-Products/dp/0672326140) type of situation: it was easier for maintainers to set up the plugin that w

[2020-01-11 08:21] bradzacher commented on #964
Because we don't know your exact setup.
Restricting file extensions isn't something you do in eslint plugins because you never know what the end-user's setup is.
In particular, if we only run it on `ts` files (like we did before the 2.0 release), then users using markdown, or vue, or mdx, or any other file extension wouldn't be able to use the rule.

You'll find the same problems if you use `eslin

[2020-01-11 14:01] sobolevn commented on #1333
Turned out that disabling `'import/no-unused-modules': ['error', { 'unusedExports': true }],` worked.
Now this warning is gone.

I will open a new issue for `eslint-plugin-import`

[2020-01-11 14:44] armano2 commented on #1303
Small update about my research:
- this is vue specific issue (its present for other any custom extension)
- this issue can be reproduced only within vscode (its working correctly in other editors that i tested)
- root cause: for some reason in typescript triggers to many folders into watch (./src and ./) and that causes our validation to fail
- i'm unable to reproduce this within unit tests,
- Thi

[2020-01-11 16:44] ljharb commented on #1333
I’m not sure how this isn’t a bug in the parser - if parseForEslint doesn’t return a valid ast then it seems like the parser is broken.

Disabling rules as a perf recommendation doesn’t change that the rules should still *work* when enabled.

[2020-01-11 18:30] bradzacher commented on #1333
If there was a parser error when invoked by `eslint-plugin-import`, then it would show up as part of the normal lint run; `eslint-plugin-import` doesn't to anything special with its parse.

The fact that there is no parsing error reported by the user in the normal lint run suggests that there is a different issue, one likely with their config.

I guess there is a slim chance that `eslint-plugin-im

[2020-01-11 18:34] bradzacher commented on #1333
@sobolevn could you list the exact repro steps for your repo?

Is it just clone the repo linked in the post (https://github.com/wemake-services/wemake-vue-template/), npm install, `npm run lint:js`?

[2020-01-11 19:11] sobolevn commented on #1333
@bradleyayers it would be easier with https://github.com/wemake-services/wemake-frontend-styleguide

Steps:
1. Clone the repo and run `yarn install`
2. Uncomment this line: https://github.com/wemake-services/wemake-frontend-styleguide/blob/master/packages/eslint-config-typescript/base.js#L71
3. Run `yarn lint:ts`

It will show the warning. Thanks for your help!

[2020-01-11 20:53] bradzacher commented on #1333
After doing the above, I replaced the swallowing try/catch here:
https://github.com/benmosher/eslint-plugin-import/blob/813a116f93d160d349631ee5598fd387a38a9d1e/utils/parse.js#L49-L51
With
[code]

And got the following output when I ran `yarn lint:ts`:
[code]
and
[code]

Digging into it, `eslint-plugin-import` is attempting to gather exports for all the files in the project (including vue files),

[2020-01-11 21:12] ljharb commented on #1333
That implies the user’s eslint config needs to exclude .vue flies from being parsed; their glob is probably over-eager.

A PR to eslint-plugin-import to log those error messages would be happily accepted.

[2020-01-11 23:33] robbiespeed commented on #1303
What is meant by custom extension?
It's happening with .ts and .tsx files as well, but I haven't found the steps that reproduce it consistently.

[2020-01-11 23:36] be5invis opened #1432 "[no-explicit-any] Allow generic tuple type usage"
**Repro**

[code]

[code]

**Expected Result**

Eslint accepts this code with no error.

**Actual Result**

Eslint rejects this code.

**Additional Info**

This sample is taken from the [official example](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-0.html#rest-elements-in-tuple-types) about tuple types. ESLint should accept this usage.

[2020-01-11 23:52] armano2 commented on #1432
any is type unsafe, and this rule aims to prevent you from using this, in provided example you should use `unknown` instead.

https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-0.html#new-unknown-top-type

[2020-01-11 23:55] be5invis commented on #1432
`T extends unknown[]` seems working. Closed.

[2020-01-11 23:55] #1432 closed

[2020-01-12 00:01] armano2 commented on #1303
custom -> not supported naively by typescript (ts, tsx, js, jsx, json)

in vscode setting i changed file association of *.test to typescript and i was having same issue

[2020-01-12 00:17] armano2 commented on #1303
as for ts and tsx files: vscode is starting failing on all files after first vue file is created

[2020-01-12 00:53] robbiespeed commented on #1303
@armano2 I have only tsx and ts files in my project and it's still happening. I'll try and create an example project to reproduce.

[2020-01-12 01:28] cgwic commented on #1303
My temporary solution: additional tsconfigs for files with errors. In my case one tsconfig for every problem directory.

[2020-01-12 17:14] armano2 opened #1436 "TypeScript 3.8 Syntax Support"
3.8 requires new AST nodes and to support the new syntax.

### Type Import (#1697) (_SUPPORTED_)
[code]

### `export * as ns` Syntax (#1698) (_SUPPORTED_)
[code]

### ECMAScript Private Fields (_NOT YET SUPPORTED_ - see #3430)

AST: https://github.com/estree/estree/pull/222

**Important Note**
We currently "support" such that no tooling should fail on private fields.

However, the AST that is prod

[2020-01-12 17:36] armano2 commented on #1436
As for Private Fields babel already supports it as
[code]

[2020-01-12 21:26] bradleyayers opened #1438 "[prefer-optional-chain] fixer produces wrong logic"
**Repro**

[code]

[code]

**Expected Result**

[code]

**Actual Result**

[code]

**Additional Info**

**Versions**

| package                            | version |
| ---------------------------------- | ------- |
| `@typescript-eslint/eslint-plugin` | `2.15.0` |
| `@typescript-eslint/parser`        | `2.15.0` |
| `TypeScript`                       | `3.7.3` |
| `ESLint`

[2020-01-12 22:31] bradzacher commented on #1438
interesting.
Types wise, this doesn't work because of the `!==`, `?.` produces an undefined. If you instead use `!= null`, then it's fine.

The root cause of this is due to a limitation in the logic that I have been wanting (needing) to fix in that it only allows `!=`/`!==` binary expressions.

[2020-01-12 22:41] #1303 closed

[2020-01-12 22:42] #1399 closed

[2020-01-13 00:01] #982 closed

[2020-01-13 00:01] #1061 closed

[2020-01-13 00:07] eyedean commented on #1303
Thanks for working on this @armano2 and @bradzacher.  Please let me know when it's going to be out, so I can verify and confirm that the fix is working for both my .ts and .vue projects.  Thanks! 🙌

[2020-01-13 00:14] armano2 commented on #1303
it should be live already you can check alpha version `2.15.1-alpha.14`

[2020-01-13 00:23] eyedean commented on #1303
Magic! 🎉  I confirm that it's now fixed for both `.ts` and `.vue` files in `2.15.1-alpha.16`.  Thanks a lot, @armano2 !

[2020-01-13 04:12] dfee opened #1441 "Inclusions / Exclusions for configuration / rc files"
What is the best practice for using `parserOptions` and handling rc files like `.eslintrc.js` or `jest.config.js`?

In your repo, you specifically exclude `jest.config.js` in your `.eslintignore` file, but I'm not sure that's a good (or great) practice. However, it is effective to bypass this message:

[code]

Should I be including `jest.config.js` in my `tsconfig.json`? Should I also be excluding

[2020-01-13 04:15] bradzacher commented on #1441
you can go either way.
If you want to lint your config files, then you have two options:

1)
add it to your tsconfig.
This can be hard for some users, as they mightn't have a separate tsconfig for eslint runts.

2)
use eslint overrides to disable project parsing for config files. Slightly more complicated, but saves tsconfig changes.
https://eslint.org/docs/user-guide/configuring#configuration-bas

[2020-01-13 04:44] dfee commented on #1441
perfect. i went with the former.

[2020-01-13 04:44] #1441 closed

[2020-01-13 05:17] bradzacher commented on #1358
See proposed recommended changes in #1423

[2020-01-13 05:17] #1358 closed

[2020-01-13 05:18] bradzacher commented on #931
See recommended discussion in #1423

[2020-01-13 05:18] #931 closed

[2020-01-13 05:19] duncanleung commented on #389
@khaledosman @johnnyreilly thank you for your replies - my apologies; I didn't word my question correctly 🙈.

You are right - the fork-ts-checker-webpack-plugin README is very clearly written that [it works with ESLint](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin#eslint). Cheers for the awesome docs on that library 👍.

#### What I was originally intending to ask:
Is there was a wa

[2020-01-13 05:23] kg-currenxie commented on #325
I can understand that shadowing happens when you use something from the outer scope as the value, not not as the _key_.

Simplified example:
[code]

![Screenshot 2020-01-13 at 13 23 44](https://user-images.githubusercontent.com/48229166/72234419-f0274d80-3607-11ea-9a52-5295ff7ad52d.png)

Super annoying :)

[2020-01-13 06:47] sobolevn commented on #1333
@ljharb how can I make it work with `.vue` files as well? Because my `.vue` files are written in typescript and I do import logic in them. Without `.vue` files support `'import/no-unused-modules'` does not make any sense.

Final config for Vue: https://github.com/wemake-services/wemake-vue-template/blob/master/template/.eslintrc.js

[2020-01-13 08:04] johnnyreilly commented on #389
Hey @duncanleung

Happy to help! One thing that's worth clarifying:

`fork-ts-checker-webpack-plugin` does not need `eslint-loader` to run ESLint. You can use `fork-ts-checker-webpack-plugin` to perform ESLinting and type checking. Alternatively you could use `fork-ts-checker-webpack-plugin` to just perform type checking and have `eslint-loader` running alongside doing linting.  I suspect having `

[2020-01-13 08:54] bradzacher opened #1442 "Create an API to "seed" the parser with an existing program"
There are a number of tools (like [`fork-ts-checker-webpack-plugin`](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin#eslint)) that already manage a TS program, and that would like to integrate with ESLint as well.

Unfortunately, right now our parser is a black box - we create and manage the `Program`s we use, and our APIs only accept a file path, and file contents as input.

This, br

[2020-01-13 10:23] ab-pm commented on #1085
@OliverJAsh

Seems to be implicit because it's declared *as a method* on the `Console` interface. Changing the declaration to a property with a function type is one thing that works, using `OmitThisParameter` is another. (It needs to be done for the global `console` only though, not for every arbitrary `Console` instance).

[2020-01-13 10:55] OliverJAsh commented on #1085
IIUC, TypeScript does not automatically add `this` types to class methods: https://github.com/microsoft/TypeScript/issues/35451#issuecomment-565116770. Unless I misunderstand?

When a method does have a `this` type, TS gives us errors when we try to call the method with the wrong `this` type:

[code]

But this is not the case for `console` methods, demonstrating the fact that methods do not have `

[2020-01-13 11:15] ab-pm commented on #1085
@OliverJAsh You must have more TS knowledge than me then :-) Notice however that I am not using `noImplicitThis`. Should I?
Here is my experience:

	interface Foo {
		bar1(): void;
		bar2(this: this): void;
		bar3: () => void;
	}

	const foo: Foo = {} as Foo;
	const fob: {
		bar1: OmitThisParameter<Foo['bar1']>;
		bar2: OmitThisParameter<Foo['bar2']>;
		bar3: Foo['bar3'];
	} = foo;

	blah(foo.bar1

[2020-01-13 11:26] johnnyreilly commented on #1442
cc @piotr-oles @phry

[2020-01-13 13:41] armano2 commented on #1333
@sobolevn To make it work with vue files you have to add `"extraFileExtensions: [".vue"].` to your eslint config.
https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/parser#extrafileextensions

[2020-01-13 13:54] Mister-Hope opened #1443 "[no-useless-constructor] <Still catching error>"
After a year, we still got problems like [issue#15](https://github.com/typescript-eslint/typescript-eslint/issues/15)

**Repro**

[code]

[code]

**Expected Result**

No error

**Actual Result**

Eslint crush

**Additional Info**

[code]

**Versions**

| package                            | version |
| ---------------------------------- | ------- |
| `@typescript-eslint/eslint-plugin` | `2.15.0` |

[2020-01-13 13:57] armano2 commented on #1443
for unknown reason you are using core `no-useless-constructor` instead of our `@typescript-eslint/no-useless-constructor` rule

[2020-01-13 13:58] armano2 commented on #1443
looks like this rule is missing in config:
https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/src/configs/recommended.json

[2020-01-13 13:59] Mister-Hope commented on #1443
Sorry, do you mean I have to disable `no-useless-constructor`?

I did not see it in [here](https://github.com/typescript-eslint/typescript-eslint/blob/master/docs/getting-started/linting/FAQ.md)

[2020-01-13 14:02] Mister-Hope commented on #1443
Got it, hoping you can add it in the next release, I'll disable it for workaround now. 😃

[2020-01-13 14:02] armano2 commented on #1443
yes you should disable `no-useless-constructor` and enable `@typescript-eslint/no-useless-constructor`

[2020-01-13 15:50] OoDeLally opened #1444 "[semi] Enforce semi after interface declaration"
**Repro**

Set `.eslintrc.js` following https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/semi.md

[code]

Then declare an interface in a `ts` file.
[code]

**Expected Result**

[code]

**Actual Result**

[code]

**Versions**

| package                            | version |
| ---------------------------------- | ------- |
| `@typescript-eslint/es

[2020-01-13 17:09] bradzacher commented on #1333
In this case, nah it's not that - the vue files are vue.
The problem is having separate lint commands which don't properly include/exclude the files that they support.

Your typescript lint command shouldn't attempt to lint vue files, because that won't work.

Solutions are either:
- Add the vue eslint parser to your typescript config so it can handle vue files
- Explicitly exclude vue files from

[2020-01-13 17:15] bradzacher commented on #1443
`no-useless-constructor` is not a recommended eslint base rule, so it won't be included in the recommended set.

This problem is because their config is using `eslint:all`, which turns on this rule. We don't have an `eslint-all` config.

We should instead update the documentation to include information about extension rules. The FAQ would be a good spot.

Closing as there's nothing to explicitly f

[2020-01-13 17:15] #1443 closed

[2020-01-13 17:21] bradzacher commented on #1444
Why do you want semicolons after interface declarations? As Armano mentioned - this is invalid syntax, and will result in extraneous semicolons being omitted in your code.

interfaces fall into a category of things called declarations. These things do not need semicolons, as they have a well defined end - the final `}`.

Examples of other things that are declarations - functions, classes, enums, n

[2020-01-13 17:21] #1444 closed

[2020-01-13 17:23] #515 closed

[2020-01-13 17:23] #590 closed

[2020-01-13 17:23] #671 closed

[2020-01-13 17:23] #722 closed

[2020-01-13 17:23] #871 closed

[2020-01-13 17:23] #1145 closed

[2020-01-13 18:54] sobolevn commented on #1333
That is strange. How do `.vue` files end up in my linting target when I explicitly define both `--config` and `--ext` options for `eslint`? Here: https://github.com/wemake-services/wemake-frontend-styleguide/blob/master/package.json#L9

[code]

[2020-01-13 18:54] bradzacher opened #1446 "Add a mechanism for marking a rule as an extension rule"
We have a number of rules which extend eslint functionality.

Currently, the only place that we list these extension rules is [here](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/tools/generate-configs.ts#L24-L42).
This is easy to forget about, and it is hard to expose to users.

We should do the following things:
- Similar to how we added the `requiresT

[2020-01-13 21:16] Retsam commented on #1423
Strong favor of this one.  I know `const` gathered debate because people don't like that the JS semantics of what `const` means is different than what `const` means in other languages; but I think there's a big practical advantage to readability - if `const` is used consistently, then seeing `let thing = /*...*/` means that `thing` *will* be reassigned at some point.

I'm biased, because I wrote t

[2020-01-13 21:52] bradzacher commented on #1423
https://github.com/microsoft/TypeScript/issues/24706

eg in this codebase, which was added due to a crash encountered by a user (#499):
https://github.com/typescript-eslint/typescript-eslint/blob/3a15413d87a3429ebf19af2cc5db76c9e7ffe4e7/packages/eslint-plugin/src/rules/unbound-method.ts#L79-L84

Soon™
We've got our list of things we want to include (https://github.com/typescript-eslint/typescript-

[2020-01-13 23:18] OoDeLally commented on #1444
This is fair, however then why is it enforced for `type`?

![image](https://user-images.githubusercontent.com/1717629/72300184-4a093100-3663-11ea-8385-0b4ae78efe86.png)

I am not sure I understand the difference of treatments between `type` and `interface`, since it seems to me that they are both declarations.

[2020-01-13 23:43] armano2 commented on #1444
because typescript allows to use semicolon after `type` type alias declaration, its something similar to variable declaration but for types.

https://www.typescriptlang.org/play/#code/C4TwDgpgBAZg9nKBeKAmA3EA

------------

In JS you should not put semicolon after block like nodes
[code]
[code]
[code]
------------------

for other nodes you can, and in some cases have to put semi after some statem

[2020-01-13 23:55] bradzacher commented on #1444
You're certainly not wrong! They are both declarations.

The rules are not as clear cut as I made them out to be. Essentially, every single thing in JS(/TS) has a "grammar" associated with it.

For things like functions, classes, enums, and namespaces; the grammar is well defined such that they have a clearly defined termination point, which is the closing `}`.
Because the grammar has a clearly de

[2020-01-14 08:40] doberkofler opened #1452 "[naming-convention] Rule name mix up in documentation"
The documentation (https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/naming-convention.md) mixes up the rule name. In the examples the rule name `naming-conventions` is used.
Also the change log in the release description uses `naming-conventions`.

**Versions**

| package                            | version |
| ----------------------------------

[2020-01-14 11:56] Mister-Hope commented on #1423
I have a bad experience on the rule `explicit-function-return-type`. The problem is if we are using a existing `d.ts` file, to provide lint and typecheck, this rule can be annoying.

For example, we define an interface here at `xxx.d.ts` which is inside a package and decalre in `tsconfig.json`:

[code]

Then if we make wrong return like below, TS will show an error:

[code]

While this is fine, an

[2020-01-14 14:14] doberkofler opened #1453 "[naming-convention] How to broaden the format after using the "default" selector"
I love the new `naming-convention` rule but struggle in understanding how to use it:

[code]

In the above snipped I defined `camelCase` as the default format and would (for example) like to relax the rule for properties and allow any type of identifier.
The documentation suggests that it is allowed to omit the `format` property or use an empty array but all options report a error. How would I sol

[2020-01-14 14:39] #1452 closed

[2020-01-14 16:44] bradzacher commented on #1453
With this rule, I wasn't sure about exactly what features people would need.
The rule I based this off of had a lot of extra features which I left out to simplify the implementation a little (the rule is already 1200 lines).

I hadn't thought about this case.
I can add in the ability to pass in `null`, which would signify "no format for this selector"

For my curiosity here.
I can totally get that

[2020-01-14 17:17] bradzacher commented on #1423
Have you tried the `allowTypedFunctionExpressions` option? This option does exactly what you want, and will not enforce that your example has a return type.

This is the point though - github doesn't have intellisense, so the more type annotations you put in your code, the less time a reviewer has to spend jumping around codebases..

As a senior engineer, I know how important it is to make this pr

[2020-01-14 18:37] doberkofler commented on #1453
Great job!

This would be nicely complement the `default` selector

The type definition `filter?: string;` at the start of the rule documentation.

[2020-01-14 18:44] havenchyk opened #1457 "`comma-spacing` can't handle a trick with generics"
I didn't find the rule for eslint `comma-spacing`, it's a main reason to create this issue.

**Repro**

[code]

**Expected Result**
I presume there should be a rule that replaces eslint `comma-spacing` rule and allow `,` for the next code: `<T,>`

**Actual Result**
There is no such rule :)

**Additional Info**
This trick is needed for working together with TypeScript and React in `.tsx` file, othe

[2020-01-14 19:58] #1453 closed

[2020-01-15 03:59] mightyiam commented on #1378
Thank you, @bradzacher. Keep up the excellent work.

[2020-01-15 03:59] #1378 closed

[2020-01-15 08:17] lolmaus commented on #964
Well, my point is that your default setup is faulty and affects a huge portion of users, and the reasoning behind it that you want to protect exotic setups used by a tiny portion of users.

Why? Those elaborate setups require a deeper knowledge of `eslint` and `typescript-eslint` anyway. If you set up TS in Markdown, Vue and MDX, you won't have a problem setting up exceptions.

But *every* novice

[2020-01-15 09:06] reyawn commented on #1453
Hopefully this makes it into a patch release soon :sunglasses: .

[2020-01-15 10:48] davidaurelio opened #1459 "[no-unnecessary-condition] Potential side effects not taken into account"
*no-unnecessary-condition* does not take potential side effects into account when assigning to a variable in a higher scope or a property, calling a function/method, and eventually checking that variable/property again. Instead, the value of the assignment is treated as constant.

This assumption is only true for locals, though. Hence, the rule should not flag any non-locals.

(There is, of course

[2020-01-15 10:49] davidaurelio commented on #1459
Gist with full project for minimal repro: https://gist.github.com/10e385aa5d3817e8bbf0de87f94a6528

[2020-01-15 12:15] armano2 commented on #964
hmm, we should just add support for js to this rule -> (if its not there) with JsDoc comments

[2020-01-15 13:44] RobTS commented on #1333
I did the same as @bradzacher and for me, the files are as follows:

./node_modules/@react-native-community/async-storage/jest/async-storage-mock.js

./node_modules/react-native-keyboard-aware-scroll-view/lib/KeyboardAwareHOC.js

./node_modules/@react-native-community/async-storage/lib/AsyncStorage.js

./node_modules/@storybook/addons/src/index.js

Why is my node_modules folder even being parsed,

[2020-01-15 16:13] bradzacher commented on #1453
https://github.com/typescript-eslint/typescript-eslint#package-versions

[2020-01-15 16:17] bradzacher commented on #1459
This isn't something we can control.
TypeScript doesn't widen the type of the variable, because it doesn't do control-flow analysis which includes called functions.

![image](https://user-images.githubusercontent.com/7462525/72450447-41058600-376f-11ea-9dd3-a0f0bbd208d4.png)
![image](https://user-images.githubusercontent.com/7462525/72450480-4e227500-376f-11ea-8adc-84febc7af04e.png)

In both cases

[2020-01-15 16:17] #1459 closed

[2020-01-15 16:20] bradzacher commented on #1333
eslint-plugin-import parses the files touched by _all_ import/require statements.
That includes files in node_modules. This parsing is separate to the standard eslint parsing cycle.

This is done so that it can collect information about the exports of the file, so that it can report if you're importing names/default correctly, etc.

This is the reason I suggest TS users don't use the rules which r

[2020-01-15 16:38] Retsam commented on #1423
I'm mildly opposed to explicit return type lint rules, too.  It's not a huge deal, as I can of course turn the rule off... but I will turn that rule off.

I think restricting explicit type checking to module boundaries is an improvement, but I don't think fundamentally changes the dynamic.

#### "Boilerplate"

The obvious objection; a lot of type annotations, (especially primitives and `: void`) d

[2020-01-15 19:52] garyking opened #1461 "[prefer-optional-chain] Only checks the first occurrence in conditional"
**Repro**

[code]

[code]

**Expected Result**

[code]

**Actual Result**

[code]

**Additional Info**

**Versions**

| package                            | version |
| ---------------------------------- | ------- |
| `@typescript-eslint/eslint-plugin` | `2.16.0` |
| `@typescript-eslint/parser`        | `2.16.0` |
| `TypeScript`                       | `3.7.4` |
| `ESLint`

[2020-01-15 20:15] bradzacher commented on #1461
Related to #1438 - the selectors don't match everything. They're too relaxed atm.

[2020-01-15 20:16] #65 closed

[2020-01-16 05:35] #1446 closed

[2020-01-16 05:55] #1397 closed

[2020-01-16 08:18] reyawn commented on #1453
Ahh, very helpful.  Thanks for taking the time to make this reply.

[2020-01-16 16:58] #1425 closed

[2020-01-16 20:47] marechal-p commented on #1192
Sorry for polluting this issue history with my commits, I don't like GH doing that...

But yea, will subscribe to this issue so that I get notified once you guys find a way to fix it!

[2020-01-17 00:28] flisboac opened #1464 "Parsing error: The keyword 'export' is reserved"
**What code were you trying to parse?**

I'm trying to use `typescript-eslint`, and I followed the Getting Started page. Unfortunately, I'm having problems to make the parser identify very basic TypeScript/JS keywords, like `export`.

Please see https://github.com/flisboac/ts-promise-scheduler for the project in question. The error is:

[code]

My `.eslint.js` is configured as such:

[code]

And h

[2020-01-17 00:54] armano2 commented on #1464
this is working as it should, if you want to use modules you have to instruct eslint to let you:
try adding
[code]

i also do recommend setting up `ecmaVersion` in `parserOptions`

[2020-01-17 01:59] #1464 closed

[2020-01-17 02:10] flisboac commented on #1464
Oh god, such a stupid mistake. I'm sorry!

@armano2 @bradzacher thank you very much!

[2020-01-17 03:58] armano2 commented on #1301
what do you think about throwing parse error when we encounter nodes from range `FirstJSDocNode` and `LastJSDocNode`? as this is going to to produce incorrect ast anyway (in unexpected ways).

[2020-01-17 04:27] bradzacher commented on #1301
I don't see why not - it's a TS error anyways.

[2020-01-17 11:57] phaux commented on #1423
I mostly use the default config with only a few changes and there are a few additional rules that I always enable and I think they'd be a great addition to the default config.

#### `restrict-template-expressions: ["error", {"allowNumber": true}]`

Putting something other than a string or number into a template literal expression is basically always a bug or oversight.

It's great for catching the

[2020-01-17 15:58] bodinsamuel opened #1466 "[@typescript-eslint/naming-convention] Fail with array spread syntax"
**Repro**

[code]

[code]

**Expected Result**
no error

**Actual Result**
[code]

**Versions**

| package                            | version |
| ---------------------------------- | ------- |
| `@typescript-eslint/eslint-plugin` | `2.16.0` |
| `@typescript-eslint/parser`        | `2.16.0` |
| `TypeScript`                       | `3.7.4` |
| `ESLint`                           | `6.6.0` |
| `node

[2020-01-17 16:04] armano2 commented on #1466
this issue got already addressed in #1450

[2020-01-17 16:17] bodinsamuel commented on #1466
oh closing then, this will be on next release I suppose ? ☺️ 💪

[2020-01-17 16:17] #1466 closed

[2020-01-17 16:30] armano2 commented on #1466
yes, (it should be monday) or you can use alpha version for now (for this few days)
https://github.com/typescript-eslint/typescript-eslint#package-versions

[2020-01-17 16:53] bradzacher commented on #1423
I love this rule, because I use flow at work; which has this check built into the compiler (see [`sketchy-null`](https://flow.org/en/docs/linting/rule-reference/#toc-sketchy-null)).

Whilst I think this doesn't take much to get used to, I know a lot of people don't like it being enforced because it means you can never do shorthand checks on strings/numbers/booleans.

I guess the question is how ma

[2020-01-17 20:51] Aetet opened #1467 "[explicit-literal-value] new rule for nominal typing (require type annotations)"
I'd like to propose new rule.

Description
Typing with array and object literals leads to loose typing. And make it hard to find all references to interface at project. Because literals has different types and no warning for this:

[code]

If I want to find all references to User interface:
1. Find validateUser.
2. Find all usages validateUser.
3. Find objects passed to validateUser.

But if I rew

[2020-01-17 23:58] bradzacher commented on #1467
You can achieve this to a great deal with the [`typedef`](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/typedef.md) rule with the `variableDeclaration` option on.

It will force you to annotate every variable, but it's a step in the direction you want.

Happy to accept a PR there to enhance the flag so that it accepts a string literal. i.e.
[c

[2020-01-18 07:16] #1398 closed

[2020-01-18 10:30] Mister-Hope commented on #1423
Thanks for the advice, I tried, but still catching problems, it can prevent some of the errors, but not all of them. Some nested function in object is not working.  I am not sure if it is a bug since you said it will solve my problem.

![image](https://user-images.githubusercontent.com/33315834/72662286-56eda200-3a20-11ea-9652-d2ad3336ee46.png)

![image](https://user-images.githubusercontent.com/3

[2020-01-19 16:54] fernandopasik opened #1472 "[naming-convention] Configuration invalid (unexpected error) when using config all"
When using the config `all` the config applied for this rule is

[code]
https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/src/configs/all.json#L24

**Repro**

[code]

**Expected Result**

Run normally.

**Actual Result**

Throws an unexpected error

[code]

**Versions**

| package                            | version |
| ---------------------------------- |

[2020-01-19 16:58] fernandopasik commented on #1472
Trying to disable the rule in `.eslintrc` with

[code]

still does not make the error go away

[2020-01-19 20:22] armano2 commented on #879
This seems to be an issue with npm page, not our package

looks liek they are not reading correctly `repository.directory` field from package.json

[2020-01-19 20:52] armano2 commented on #889
This rule should not be hard to implement (and should not require type checking)

To implement this rule we should check all codepaths returns from method and validate if they return `this` and do so only if rule already had return type.

[2020-01-19 21:43] bradzacher commented on #1472
Fixed in #1455

[2020-01-19 21:43] #1472 closed

[2020-01-19 22:00] fernandopasik commented on #1472
Thanks @bradzacher

[2020-01-19 22:09] G-Rath opened #1474 "[naming-convention] "Enforce that private members are prefixed with an underscore" configuration is invalid"
This is using the example in the docs titled "Enforce that private members are prefixed with an underscore".

I've tried to narrow down what property is causing the issue, and it seems to be `modifier`, but I'm still upskilling on how to properly use `naming-convention` so can't say that for sure.

**Repro**

[code]

[code]

**Expected Result**
`method` is flagged by ESLint as requiring a leading

[2020-01-19 22:26] G-Rath opened #1475 "[naming-convention] "Enforce the codebase follows ESLint's camelcase conventions" example is stricter than eslints camalcase"
This is using the example in the docs titled "Enforce the codebase follows ESLint's camelcase conventions".

aka: how do you handle this in your own repo? I can't find any custom alterations to `naming-convention`, but your CI is passing?

I don't have a direct issue with being stricter than ESLint's version of camelcase, I feel it's important to provide drop-in replacement examples for the behavi

[2020-01-19 23:26] #1474 closed

[2020-01-19 23:46] G-Rath opened #1477 "[naming-convention] `method` selector limits ability to control format of properties (vs `memberLike`)"
The titles a bit average, but this relates a bit to #1475.

Basically, because of the overlap of `memberLike` & `method`, it's not possible to have allow properties that are assigned functions to have the `PascelCase` format without allowing public methods on classes to have that format too.

**Repro**

[code]

[code]

**Expected Result**
`MyClass#MyMethod` is flagged as not being camelcase, while

[2020-01-20 00:04] G-Rath opened #1478 "[naming-convention] Specificity of `filter` seems low (attempting to create exception)"
I could have misunderstood how this part of `naming-convention` works.

I'm attempting to create an exception for `child_process` so that it doesn't have to be in camel case; however I'd like only variables to have that exception, since `import` isn't checked, so the only allowed use I expect to have in codebases is `const child_process = require('child_process')`.

I'd expect that I could use `fi

[2020-01-20 16:22] fairking opened #1479 "[no-unused-vars] warnings for used vars"
**Repro**

[code]

[code]

`warning: 'DirectiveOptions' is defined but never used (no-unused-vars)`

[code]

`warning: 'LoginTokenVm' is defined but never used (no-unused-vars)`

**Versions**

| package                            | version |
| ---------------------------------- | ------- |
| `@typescript-eslint/eslint-plugin` | `^2.15.0` |
| `@typescript-eslint/parser`        | `^2.15.0` |
| `Type

[2020-01-20 16:24] fairking commented on #1479
Might be related to https://github.com/typescript-eslint/typescript-eslint/issues/171

[2020-01-20 16:29] fairking commented on #1479
[code]

`warning: 'Vue' is defined but never used (no-unused-vars)`
`warning: 'VNode' is defined but never used (no-unused-vars)`

[2020-01-20 16:53] armano2 commented on #1479
`no-unused-vars` is not working for types at all, i was fixing it in #233 but i stopped because of time

[2020-01-20 16:59] fairking commented on #1479
ok, thanks @armano2. so I am probably going to disable the rule to suppress the noise and to be able to spot other important warnings. You can close the issue if you think it is not worth of spending time.

[2020-01-21 00:54] bradzacher commented on #1477
Using the config you provided, it looks like it works as expected:

![image](https://user-images.githubusercontent.com/7462525/72766591-706c2680-3ba5-11ea-86a6-373b8653b7ce.png)

[2020-01-21 01:28] G-Rath commented on #1477
Except that's not what I expected:

The configuration I provided was an attempt to have the Expected Result I specified, but is not necessarily the "correct" configuration, as the right solution here might be creating a new specifier (i.e "functionProperties").

I've also tried using the `types: ["function"]`, which didn't work.

[2020-01-21 01:35] bradzacher commented on #1475
Because I didn't turn on the rule on in the repo yet. I have been kind of lazy with keeping the config up to date with the new rules.

Yeah the `camelCase` rule is rather simple - it just checks to make sure there's no underscores in the middle of the name, unless the name is all caps.

I think that there's only one real solution for this - add `PascalCase` to the allowed formats for methods. You

[2020-01-21 01:50] bradzacher commented on #1477
Sorry, I misunderstood the original post!

--

I don't have a problem with making the rule more customisable!

Happy to have a change to convert `method` to a group selector, and then introducing `classMethod` and `objectMethod` selectors.

[2020-01-21 01:52] G-Rath commented on #1477
That was exactly what I had in mind, just with much better names 😄

[2020-01-21 03:02] bradzacher commented on #1479
https://github.com/typescript-eslint/typescript-eslint/blob/master/docs/getting-started/linting/FAQ.md#i-am-using-a-rule-from-eslint-core-and-it-doesnt-work-correctly-with-typescript-code

Please make sure you're using our version of the rule

[2020-01-21 03:03] #312 closed

[2020-01-21 04:57] fairking commented on #1479
Thanks @bradleyayers , Yeah, that's the `typescript-eslint`:
![image](https://user-images.githubusercontent.com/13495631/72776550-806a2180-3c0a-11ea-8394-8da3a59abc52.png)

[2020-01-21 06:40] sindresorhus opened #1483 "[naming-convention] Allow quoted object keys in any format"
[code]

[code]

**Expected Result**

I expected the rule to ignore quoted object keys or have a way to ignore them. I think the old camelcase rule ignored such case.

**Actual Result**

[code]

**Additional Info**

**Versions**

| package                            | version |
| ---------------------------------- | ------- |
| `@typescript-eslint/eslint-plugin` | `2.17.0` |
| `@typescript-eslint/p

[2020-01-21 06:45] sindresorhus opened #1484 "[naming-convention] Handle constructor passed as parameter"
[code]

[code]

**Expected Result**

In some places I'm passing a class constructor as a parameter and I need to keep it PascalCase so I can `new` it without it looking weird and other lint rules triggering on the `new` call. I could rename it after passing it, but I don't think I should change my valid code to appease this rule. I'm not sure how we should solve this, but would be nice if there wa

[2020-01-21 06:49] sindresorhus opened #1485 "[naming-convention] Handle names that are a classish type"
[code]

[code]

[code]

**Expected Result**

In the above example, `errors.GotError` and the other properties refers to a class, so `GotError` has to be PascalCase. However, I couldn't find a way to target properties that are classes.

**Actual Result**

[code]

**Additional Info**

**Versions**

| package                            | version |
| ---------------------------------- | ------- |
| `@

[2020-01-21 07:47] bradzacher commented on #1479
This is a KP - the rule doesn't support things used in a type position well.
You should try the rule `no-unused-vars-experimental`, which uses typescript's tooling to report unused vars.

[2020-01-21 07:55] bradzacher commented on #1483
I don't think I agree with this entirely, as literal prop names could then slip through, accidentally circumventing the rule.

[code]

A surprising number of people don't use prettier, and the base `quote-props` rule isn't recommended, so it's easy for people to accidentally quote props.

I don't know the best solution here. Part of me thinks maybe this is just an eslint-disable case. Unsure, need

[2020-01-21 08:07] bradzacher commented on #1484
As with #1485, happy to have a new `type` option added for `constructable` or something.
Would be almost the same as the `function` type, but using `t.getConstructSignatures()` instead.

https://github.com/typescript-eslint/typescript-eslint/blob/fcff5b430c669b7ec27705aa18211e0eedfb486a/packages/eslint-plugin/src/rules/naming-convention.ts#L1256

Note that this would require type information to so

[2020-01-21 08:08] bradzacher commented on #1485
See: https://github.com/typescript-eslint/typescript-eslint/issues/1484#issuecomment-576564950

[2020-01-21 09:45] sindresorhus commented on #1483
I would argue that's an explicit intent on using something else.

You could make it an option to ignore quote object literal keys or expose the type so I can manually ignore it myself.

It's quite a common use-case though. You would then force pretty much any server-related app to use lots of eslint-disable comments as you kinda have to do this when dealing with HTTP headers.

That would be the pr

[2020-01-21 16:32] mijay opened #1486 "[explicit-module-boundary-types] False positive on functions nested inside exported"
**Repro**

[code]

[code]

**Expected Result**
No linting errors, since `outerFunction` has an explicit type definition.

**Actual Result**
[code]
If you add `: void` to `innerFunction`, the error goes away.

**Additional Info**

It seems to me that the problem is in [this code](https://github.com/typescript-eslint/typescript-eslint/blob/v2.17.0/packages/eslint-plugin/src/rules/explicit-module-bou

[2020-01-21 16:40] Thebarda commented on #109
Does this syntax work on eslint@5.x.x ?

[2020-01-21 20:55] chkt opened #1489 "[type-annotation-spacing] no distinction between parameters, properties and return types"
# [type-annotation-spacing] no distinction between parameters, properties and return types

The `type-annotation-spacing` rule only distinguishes between `colon` and `arrow` rules. The equivalent `typedef-whitespace` rule in tslint allowed to define different rules for properties, variables, parameters, index signatures and call signatures (which covered both the `function() : void` as well as the

[2020-01-21 20:56] bradzacher commented on #1489
Happy to accept a PR to add more options!

[2020-01-21 23:21] clar-cmp commented on #1085
Also getting issues for `Number.isSafeInteger` and `Number.parseInt`. Maybe these libraries could perhaps mark `this: void` and this library could take this into account?

[2020-01-22 01:42] #1486 closed

[2020-01-22 07:31] bradzacher commented on #514
I was having a look into this (because it's one of our highest-voted issues), and it should be simple enough to do.
It will require type information though, so that the rule can properly resolve the types to determine if they're readonly:

[code]

[2020-01-22 08:24] G-Rath commented on #1085
@bradzacher

Would you have any pointers for this, such as an already existing rule that does this?

Right now I'm going to aim for having something of a hardcoded array we can chuck things like "console", "Number", "String", etc into and then we can think about how to improve things longer term.

[2020-01-22 09:18] bradzacher commented on #1085
I would think that you can do something along the lines of like:
1) grab the `ts.SourceFile` for the current file being linted.
2) grab the declaration(s) for the type (see above comment).
3) ensure ***all*** declarations are not in the current source file.

It's not perfect, but I think that it's "good enough".
Having a quick play, I think that this will actually prevent cases like `import consol

[2020-01-23 04:03] chaffeqa opened #1500 "Hang on certain file"
**What code were you trying to parse?**

[code]

took a sample of Activity Monitor app, which just looks like recursive.

I think I'd like to get an idea on how to debug this... please let me know if i can do anything to help given i have a very isolated case.

PS this file use to be lint-able by VS code, but since moving to eslint and away from tslint its hanging

**What did you expect to happen?

[2020-01-23 07:26] Delagen commented on #1131
I think it has false positive in case of Angular
For example

class BaseContext {
  constructor(service: IService) { }
}
class Context {
  constructor(@Inject(ConcreteService) service: IConcreteService) { super(service) }
}

[2020-01-23 13:16] sebinsua commented on #1436
Perhaps a lint rule could be created to only allow types to be imported and exported with the new "type import" syntax? That makes it less likely that Babel users will get types in their JavaScript output.

Is there a feature request issue for that yet?

[2020-01-23 13:32] vkrol commented on #1436
@sebinsua

See `importsNotUsedAsValues` option https://devblogs.microsoft.com/typescript/announcing-typescript-3-8-beta/#type-only-imports-exports.

_Copy-pasted from https://github.com/babel/babel/issues/8361#issuecomment-577682315._

[2020-01-23 16:24] bradzacher opened #1501 "Contextual keyword tokens being parsed as `Keyword` instead of `Identifier`"
https://github.com/acornjs/acorn/issues/902

In #1487 we made a change to mark all keywords output as `Keyword` tokens.
I've since learned that this was incorrect for some of them.

There are keywords which are classed as "contextual keywords". These keywords are keywords when they're in a their keyword position, and identifiers when they're in an identifier position.

So we need to either:
- prov

[2020-01-23 16:30] ericbartholet opened #1502 "Parsing errors when tsconfig.json's compilerOption's module is set to none"
**What code were you trying to parse?**

[code]

**What did you expect to happen?**
No parsing errors

**What actually happened?**
Got parsing errors

**Versions**

| package                     | version |
| --------------------------- | ------- |
| `@typescript-eslint/parser` | `2.17.0` |
| `TypeScript`                | `3.7.5` |
| `ESLint`                    | `6.8.0` |
| `node`

[2020-01-23 16:31] ericbartholet commented on #1502
**tsconfig.json**
[code]

[2020-01-23 16:32] #1457 closed

[2020-01-23 16:40] ericbartholet commented on #1502
**ESLint Output Debugging Information**

[code]

[code]

[code]

[2020-01-23 16:41] bradzacher opened #1503 "Add internal lint rule to guard against raw strings instead of `AST_NODE_TYPES`"
We've gotten most of the cases, but it'd be good to guard against this explicitly in the codebase.

There are a few times where there were things like the following, which aren't strictly false at runtime, but we prefer to use the enums in the codebase.

[code]

An internal lint rule would mean we can add a fixer, and would save us ever having to mention this in code reviews.

[2020-01-23 17:05] bradzacher commented on #1131
@Delagen - that is independent of this issue.
Please file a new issue with that case.

[2020-01-23 17:07] ericbartholet commented on #1502
Work around for now we've found is to set module to CommonJS in tsconfig.json so ESLint can run as expected then update our build step's compilation to override the module value:
`tsc -p ./tsconfig.json -m none`

[2020-01-23 18:57] armano2 commented on #1502
interesting, i will take a look into this

[2020-01-23 22:03] armano2 commented on #1502
Update: i was able to successfully reproduce this issue with minimal repo:
https://github.com/armano2/errors-typescript-eslint

[2020-01-23 23:06] armano2 commented on #1502
Update:
- `const foo = 1;` is fixed

as for:
- Cannot read property 'kind' of undefined
- Cannot use 'in' operator to search for 'name' in undefined

issue is due to parent is undefined, issue is present only in persisted parse and only in first parsed file (2nd file is no longer affected by this)

[2020-01-23 23:32] armano2 commented on #1502
@ericbartholet better workaround for this can be a override of tsconfig

you should be able to create `tsconfig.eslint.json`  and use it in eslintrc
[code]

[2020-01-24 04:08] bradzacher commented on #514
Hmmm. Should this check be deeply nested, or just top level?

I.e. would the following types be considered readonly for the purpose of the rule?

[code]

[2020-01-24 04:43] sindresorhus commented on #514
I would prefer it to check deeply nested.

[2020-01-24 05:13] G-Rath commented on #1503
Would love to be able to use this in `eslint-plugin-jest` as well (and my own custom TypeScript rules).

I've created such a rule for [my company's eslint configuration](https://github.com/squareweave/eslint-config-ackama/pull/19) - I'd welcome a review on it :)

If you've happy with that, I'll make a PR into here too.

[2020-01-24 07:58] kumarharsh commented on #324
Can't imagine I had to dig through to this issue to finally understand the problem. Thanks for the clear explanation @bradzacher!

[2020-01-24 08:09] bradzacher commented on #1503
hey man, that's literally the code that what I was going to write!
Happy to have it PR'd in here if you're willing. Thanks!!

[2020-01-24 08:21] G-Rath commented on #1503
@bradzacher No problem :)

I'll have a look at #315 for you as well, to see if I can get it across the line this weekend (or at least kick it a bit closer) :)

[2020-01-24 10:21] havenchyk commented on #1457
Wow, that was fast, thank you guys @a-tarasyuk @bradzacher

[2020-01-24 16:51] glen-84 opened #1510 "[naming-convention] Allow underscore prefix for unused parameters"
**Repro**

[code]

[code]

**Expected Result**

No error on `_id`.

**Actual Result**

Error on `_id`.

**Additional Info**

As mentioned [here](https://github.com/typescript-eslint/typescript-eslint/pull/1318#issuecomment-564015707) with Brad's response [here](https://github.com/typescript-eslint/typescript-eslint/pull/1318#issuecomment-564300069).

When using the `noUnusedParameters` compiler op

[2020-01-24 16:57] samhuk opened #1511 "[no-unused-expressions] Incompatibility with optional chaining a function"
no-unused-expressions lint error is thrown when optional chaining a function evaluation, i.e. ```fn?.()```. This should not occur since it is not an expression.

[code]

**Expected Result**
No exception, because the function is not returning anything

**Actual Result**
"no-unused-expressions" lint error

| package                            | version |
| ---------------------------------- | ------

[2020-01-24 17:00] bradzacher commented on #1511
Make sure you are using our extension rule.
https://github.com/typescript-eslint/typescript-eslint/blob/master/docs/getting-started/linting/FAQ.md#i-am-using-a-rule-from-eslint-core-and-it-doesnt-work-correctly-with-typescript-code

[2020-01-24 17:00] #1511 closed

[2020-01-24 17:04] bradzacher opened #1512 "[naming-convention] Support negative matches for `filter` option"
Spinning off of #1482

Regexes are great at matching things, but they're pretty terrible for _not_ matching things.
At the last minute before merging the rule, I added the `custom` field, which has the format `custom: { regex: string, match: boolean }`.
But I didn't think go back and add this to the `filter` option.

Should give the same treatment to the `filter` option so it's easy to include or

[2020-01-24 17:06] #1478 closed

[2020-01-24 17:15] bradzacher commented on #1510
I need to figure out how to do this in a performant way. Using typescript's diagnostics would be awesome, but they're super slow - ~50ms to get the diagnostics for a file, which is too slow for linting (related: #1335).

I should test tsutils's unused variables function. If that's quick, then that's a decent compromise.

The only problem with both of these routes is that without #716, this would r

[2020-01-24 23:17] bradzacher opened #1515 "[strict-boolean-expression] Rework options"
Original comment by @phaux in #1480

Here are the cases that I encounter often and could have an option to allow them:
- `boolean` – always allowed
- `boolean | null | undefined` aka optional/nullable boolean – developers often want to treat the nullish case the same as false instead of explicitly saying `value ?? false` or `value == null ? false : value`
  - allowed by `allowNullable`
- `string |

[2020-01-24 23:37] bradzacher commented on #1515
I see this rule as being analogous to flow's inbuilt [`sketchy-null`](https://flow.org/en/docs/linting/rule-reference/#toc-sketchy-null) lint rule.

So expanding on @phaux's cases, I see the following cases that we need to care about:
- `boolean`
- `boolean | null | undefined`
- `string`
- `string | null | undefined`
- `number`
- `number | null | undefined`
- `object | function | null | undefined`

[2020-01-25 01:33] #1503 closed

[2020-01-25 15:55] JoshuaKGoldberg commented on #236
Relevant: https://github.com/microsoft/TypeScript/pull/36014 will add a `// @ts-expect-error` to TypeScript. We could make this rule instead just ban `// @ts-ignore` altogether.

[2020-01-25 16:33] JoshuaKGoldberg opened #1519 ""Jest Test Current eslint-plugin Rule" does not trigger on Windows"
**Repro**

1. `code .` in the root repository directory on a Windows 10 computer
2. Open an eslint-plugin rule
3. Press F5 to launch `Jest Test Current eslint-plugin Rule`

**Expected Result**

That rule's `.test.ts` file should be debugged.

**Actual Result**

On Windows, this does not happen.

**Additional Info**

Reverting the change in #432 fixes it 😄. This is a similar issue to #195.

**Versi

[2020-01-25 16:36] JoshuaKGoldberg opened #1520 ""Jest Test Current eslint-plugin Rule" shouldn't block on TS checker errors"
**Repro**

1. `code .` in the root repository directory on a Windows 10 computer
2. Open an eslint-plugin rule
3. Add an unused variable
4. Press F5 to launch `Jest Test Current eslint-plugin Rule`

**Expected Result**

That rule's `.test.ts` file should be debugged.

**Actual Result**

[code]

**Additional Info**

It's not unheard of that we'd want to add unused variables during testing. Can we r

[2020-01-25 16:49] armano2 commented on #1519
This seems to be an issue not only for eslint-plugin but also for other configurations
- `Jest Test Current eslint-plugin-internal Rule`

you should try changing it to `"${fileBasename}"`

[2020-01-25 18:31] bradzacher commented on #236
It's already a rule (as of a week or so)! Just missed this issue.
https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/ban-ts-comment.md

[2020-01-25 18:34] bradzacher commented on #1520
yeah I've been thinking of switching the jest tests to use ts-jest in isolated mode.
We have a typecheck script and a build script, both of which are run on CI.

It'll speed up iteration and cut time from the CI

[2020-01-25 21:40] mohsen1 commented on #236
This is different than what I suggest. I wanted to make sure we don’t have dead `ts-ignore` directives. Banning it altogether is not the same.

This is useful when you have an issue that you can’t resolve and you use ts ignore to surpass it but then later via some mechanism like dependency update the type error is no longer there but the ts-ignore comment is there and it doesn’t allow ts to check

[2020-01-26 20:07] bradzacher commented on #236
Relevant ts issue: https://github.com/microsoft/TypeScript/issues/29394

[2020-01-26 20:41] #1301 closed

[2020-01-26 23:27] #1519 closed

[2020-01-27 05:02] G-Rath commented on #1520
@bradzacher I can action this if you'd like :)

[2020-01-27 10:12] eltonio450 opened #1529 "Rule proposal : no-unused-type-property - Creating a new rule"
Hello everyone,

Following this post : https://stackoverflow.com/questions/59893208/find-unused-properties-in-destructured-parameter-object-in-typescript, I would like to propose my help to write a rule

I cannot find a rule that would work in this case, so I would like to implement and submit it, but the entry cost is a bit high so far, so if someone has a bit of experience and could show the dir

[2020-01-27 15:50] bradzacher commented on #1529
It sounds like an interesting rule, for sure, but it's hard to define exactly what it should do.

The examples you've provided suggest the rule only supports destructuring. What about usages of the object that aren't straight destructuring?
[code]

What about if the type is used more than once, and different props are used in each location?
[code]
Does the rule report that `MyType.c` is unused in

[2020-01-27 16:33] eltonio450 commented on #1529
Hello,

thanks for the answer !

I'll have a look at the ressource, thanks

For the indirect usage, I guess it's not really possible to take them into account.

For the direct usage : for me, exported types/interfaces must be excluded because of the complexity. Then, if the type is used more than once, I guess there could be a strict mode:

To comply with this mode, such functions
[code]

should b

[2020-01-27 16:41] eltonio450 commented on #1529
Hello,

thanks for the answer !

I'll have a look at the ressource, thanks

For the indirect usage, I guess it's not really possible to take them into account for now (as well as arguments object usage).

For the direct usage : for me, exported types/interfaces must be excluded because of the complexity. Then, if the type is used more than once, I guess there could be a strict mode:

To comply wit

[2020-01-28 03:18] WayneEllery commented on #1423
Is there a reason for `@typescript-eslint/no-empty-function` is `error` when in `eslint:recommended` is off?

[2020-01-28 11:37] thany opened #1531 "Parsing error: "parserOptions.project" has been set for @typescript-eslint/parser"
**What code were you trying to parse?**
An empty, newly added file anywhere within the project.

**What did you expect to happen?**
Nothing. The file is included by the `include` directive in `tsconfig.json` so this error seems unjust to me. All other files at the same level as that empty file do not throw this error, so the inclusion of these files in the project is probably configured correctly.

[2020-01-28 14:01] armano2 commented on #1531
@thany i have few questions:
1. is this issue in editor or in console or both?
    - if only in editor which one
2. On which os you are experiencing this issue? (win/linux/mac/?)
3. did you try upgrading parser to 2.16.0 (or higher), i did fix some issues related to persisted parse:
   - 2.16: #1424 #1439 #1412
   -  2.15: #1406

[2020-01-28 15:32] glek opened #1532 "[indent] Indent rule reports error for flat nested ternary expressions despite option being enabled"
**Repro**

[code]

[code]

**Expected Result**

ESLint does not report a problem with the nested ternary expression.

**Actual Result**

ESLint reports the requested severity.

![image](https://user-images.githubusercontent.com/1039449/73278091-14169180-41b9-11ea-8bf6-406341af5c21.png)

**Additional Info**

N/A

**Versions**

| package                            | version |
| ---------------------

[2020-01-28 16:29] thany commented on #1531
1. Editor only, as far as I can tell. My console command would be `eslint ./src/**/*.{js,jsx,ts,tsx}` which doesn't give that error. My editor is VScode 1.41.1
2. WIndows 10
3. It appears to be working in 2.18.0.

Is there a temporary workaround for 2.4.0? This is a rather complex project and I can't willy nilly upgrade packages. We will be upgrading tho, but not yet 😀
Also there's no telling from

[2020-01-28 16:51] armano2 commented on #1531
minimum what you will have to update is `typescript-estree` package

but if you are looking for temporary fix (by editing package), than you can manually file:
in lib/create-program/createWatchProgram.js
 - in while after `log('File was not found in program - triggering folder update. %s', filePath);`,
 - after `hasCallback = true;`

you can remove `break` (on your local machine), this should fix

[2020-01-28 16:57] bradzacher commented on #1423
I commented on that in the OP, if you'd like to expand the sections.

Also note the second paragraph of the OP:

[2020-01-28 16:59] bradzacher commented on #1532
This isn't a bug with our extension - it's in the base rule too

https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IGluZGVudDogW1wiZXJyb3JcIixcbiAgICAgICAgICAgIDQsXG4gICAgICAgICAgICB7XG4gICAgICAgICAgICAgICAgXCJTd2l0Y2hDYXNlXCI6IDEsXG4gICAgICAgICAgICAgICAgXCJmbGF0VGVybmFyeUV4cHJlc3Npb25zXCI6IHRydWVcbiAgICAgICAgICAgIH1cbiAgICAgICAgXSwgKi9cblxuaW1wb3J0IHtDb250ZXh0T3B0aW9uc30gZnJvbSAnLi9pbmRleCc7XG5cbi8

[2020-01-28 16:59] #1532 closed

[2020-01-28 17:03] bradzacher commented on #1531
This bug was fixed in a later version.
If you must stay on the older version, you have to manually patch the changes yourself.

[2020-01-28 17:03] #1531 closed

[2020-01-28 17:32] armano2 commented on #1423
@bradzacher what do you think about splitting `recommended` from `stylistic`?
we could determine this base on `type` property from rules?

[2020-01-28 17:52] bradzacher commented on #1423
Stylistic is somewhat opinionated sometimes. Though I've purposely trimmed this list down to only a few "stylistic rules".

IMO; no empty functions isn't stylistic. Empty functions is a code smell, same as no unused vars.
Having required empty functions generally indicates sub optimal api design, or it can indicate paths that have forgotten to be implemented.

[2020-01-28 18:49] bradzacher commented on #514
Should methods be treated as "readonly"?
There's no way to create a readonly method, only readonly class properties with function values.

[code]

[2020-01-28 19:34] glek commented on #1532
Good to know. I will file a bug with them.

[2020-01-28 20:56] WayneEllery commented on #1423
I agree that you shouldn’t have empty functions but I’ve found them useful in unit tests. I never had a need to lint for them because my team would never use them anyway in the non test code.

[2020-01-28 22:15] armano2 commented on #1500
q: can you share how your config looks like? are you using eslint-plugin-import?

[2020-01-28 22:19] chaffeqa commented on #1500
`tslint.json`:
[code]

ts-config.js:
[code]

eslintrc.js
[code]

[2020-01-29 03:08] bradzacher commented on #1500
A few things I can see here, which are listed in the FAQ, so I'll save repeating the docs.

1) Wide tsconfig includes `"include": ["**/*.ts", "**/*.tsx"]`
    - https://github.com/typescript-eslint/typescript-eslint/blob/master/docs/getting-started/linting/FAQ.md#wide-includes-in-your-tsconfig
1) You're using `plugin:prettier/recommended`
    - https://github.com/typescript-eslint/typescript-eslin

[2020-01-29 03:29] beenotung opened #1535 "Inconsist indent rule behaviour"
**What code were you trying to parse?**

[code]

**What did you expect to happen?**
Above code is already indented correctly

**What actually happened?**
The eslint complains, and suggest to change to:
[code]

**Versions**

| package                                   | version |
| ----------------------------------------- | ------- |
| `@typescript-eslint/eslint-plugin-tslint` | `2.18.0` |
| `@typ

[2020-01-29 03:31] bradzacher commented on #1535
Duplicate of #455

[2020-01-29 03:31] #1535 closed

[2020-01-29 03:42] beenotung commented on #455
@juliendargelos How do you use the option `ignoredNodes`? May you provide an example of the configuration?

I'm new to eslint and the IDE (JetBrain IDEA) cannot provide hints on .eslintrc.js, just treat it as a js file. Used to have hints like options suggestion and auto-complete on tslint.json

[2020-01-29 04:30] tkdaj commented on #1502
I keep getting the error "Parsing error: Cannot read property 'parent' of null" when adding new typescript files to my CRA project or refactoring a variable which is used in multiple files.  My tsconfig looks like this:

`{
  "compilerOptions": {
    "baseUrl": "src",
    "target": "es5",
    "lib": ["dom", "dom.iterable", "esnext"],
    "allowJs": true,
    "noImplicitAny": false,
    "skipLibChe

[2020-01-29 06:25] yuyaryshev opened #1537 "[rulename] <issue title>"
**Repro**

[code]

[code]

**Expected Result**

**Actual Result**

**Additional Info**

**Versions**

| package                            | version |
| ---------------------------------- | ------- |
| `@typescript-eslint/eslint-plugin` | `X.Y.Z` |
| `@typescript-eslint/parser`        | `X.Y.Z` |
| `TypeScript`                       | `X.Y.Z` |
| `ESLint`                           | `X.Y.Z` |
| `n

[2020-01-29 06:26] #1537 closed

[2020-01-29 07:09] jens-duttke opened #1538 "naming-convention: Can't specify rule for specific property name"
The documentation of the [`naming-convention`](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/naming-convention.md) rule, is very unclear how to use `filter` and `custom`.

**Repro**

I have this JSX code:
[code]

And the `naming-convention` rules always complains, that the code either does not follow the format, or that my rule configuration i

[2020-01-29 07:35] glen-84 commented on #1423
@WayneEllery,

You could handle that with overrides:

[code]

[2020-01-29 08:33] bradzacher commented on #1538
From the docs:

Could you please point out what's unclear so I can update the docs if needs be.

---

The rule complains that the name is invalid because the name doesn't match any of the defined formats.

It's not in snake case, because it contains upper case characters.
It's not in camelCase, because it contains an underscore.
--- `leadingUnderscore` only checks for exactly one underscore.
Sorry

[2020-01-29 08:33] #1538 closed

[2020-01-29 08:38] bradzacher commented on #1423
Thanks @glen-84! Yeah in that case the recommendation would be to use an override.

There's lots of practices that are smelly, but "okay" to do in tests (like using `as any`, empty functions, unused variables) because the code isn't run in user land, and doesn't contribute to production safety, bundle size, memory, etc.

The recommended set is setup around what you should to do in _production_ cod

[2020-01-29 09:55] jens-duttke commented on #1538
@bradzacher Thanks! That example is exactly what I was lookling for.

Your example above, to specify specific names would be a nice addition to the documentation.

[2020-01-29 13:35] Zzzen commented on #889
It's easy to find all return statements of a method and then validate. But not all codepath returns, how do we check if all codepath returns? @armano2

[2020-01-29 13:56] nstepien opened #1539 "[naming-convention] The rule isn't listed in the README"
I just wanted to point out that `naming-convention` isn't listed in the list of rules in the README.
Is this intentional like unlisting `ban-ts-ignore` in favor of `ban-ts-comment`?

[2020-01-29 14:00] nstepien commented on #1539
`camelcase` is also missing.

[2020-01-29 14:08] #1539 closed

[2020-01-29 15:45] nstepien commented on #1510
It would also be nice to allow `_` as a valid parameter name:
[code]

[2020-01-29 16:37] glen-84 commented on #1510
@nstepien,

You can allow that by setting `leadingUnderscore` to `allow` for the `parameter` selector:

[code]

[2020-01-29 16:37] bradzacher commented on #1510
@nstepien this is already allowed by just setting `leadingUnderscore: 'allow'`.

[From the docs on format options:](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/naming-convention.md#format-options)

[2020-01-29 17:59] c32hedge opened #1540 "[indent] Add support for emacs-style indentation of `MemberExpression`s"
**Repro**

[code]

[code]

**Expected Result**

I would like an option that would keep the indentation the same as in my example code, which is what emacs does (I believe it's a function called `typescript--proper-indentation` in the `typescript-mode` major mode).

**Actual Result**

Currently my options are limited to specifying an absolute number of indentation levels, or turning the `MemberExpr

[2020-01-29 18:03] bradzacher commented on #1540
Thanks for the suggestion!

This rule is maintained by eslint core; our version just adds support for typescript features.
We're not otherwise looking to deviate from the core implementation.

If you'd like to see this added, please raise this issue in the eslint repo.
https://github.com/eslint/eslint

[2020-01-29 18:03] #1540 closed

[2020-01-29 20:05] StrangeWill opened #1542 "[no-unused-vars] false positive for imported types"
**Repro**

[code]

**Expected Result**

Should pass es-lint fine

**Actual Result**

It *sometimes* passes es-lint, appears to do it on first pass, but fails on subsequent passes when running `npm run serve`.

**Additional Info**

**Versions**

| package                            | version |
| ---------------------------------- | ------- |
| `@typescript-eslint/eslint-plugin` | `2.18.0` |
| `@typ

[2020-01-29 23:03] romeovs opened #1544 "[no-unnecessary-condition] False positives with arrays and optional chains"
This
[code]

[code]

**Expected Result**
No lint because the array item might not exist.

**Actual Result**
Eslint error, even though there should not be one

**Versions**

| package                            | version |
| ---------------------------------- | ------- |
| `@typescript-eslint/eslint-plugin` | `2.11.0` |
| `@typescript-eslint/parser`        | `2.12.0` |
| `TypeScript`

[2020-01-30 00:53] bradzacher commented on #1544
This is because typescript does not have any concept of array indices being undefined.
When we ask typescript for the type of the thing being optional chained (`arr[0]`), typescript tells us that in no uncertain terms is this nullish.

Because the rule runs off of the types, and assumes that they are correct, it flags it as unnecessary.

You'll see the same "false positive" if `arr[0]` resolved to

[2020-01-30 01:08] Retsam commented on #1544
Ah, right I forgot about this case.  I can get a fix in for this case, too.  I should be able to apply pretty much the same logic as #1534, so I'll probably just add it to that PR.

It'll have the same limitation: it won't work with an intermediary variable - this case is a lot harder to detect:

[code]

But the originally linked code should be easy enough to fix.

[2020-01-30 02:12] armano2 opened #1545 "Missing support for project reference"
I'm was testing new setup within this project and i noticed that project references are not supported

https://www.typescriptlang.org/docs/handbook/project-references.html

[code]

[code]

each of packages has tsconfig with `composite: true`

**What did you expect to happen?**
Persisted parse should correctly resolve references and lint files.

**What actually happened?**
Persisted parse was unabl

[2020-01-30 02:31] bradzacher commented on #1545
We don't do any tsconfig parsing, so we rely upon typescript's mechanisms.
In particular, `createWatchProgram` doesn't support project references, so we don't either.

See discussion in #856, in particular: https://github.com/typescript-eslint/typescript-eslint/issues/856#issuecomment-521729080

[2020-01-30 02:32] #1545 closed

[2020-01-30 02:37] armano2 commented on #1545
i did some debugging and `createWatchProgram` is partially supporting references, its reading directories and resolves paths correctly

`getProjectReferences` is filled correctly same goes for `getResolvedProjectReferences`

[2020-01-30 06:09] #1512 closed

[2020-01-30 06:10] #1520 closed

[2020-01-30 06:21] murbanowicz commented on #109
Nope, this is just a wish how we would like it to work

[2020-01-30 06:33] moulikcipherX commented on #1273
Hy, @bradzacher is there anything I can work on?

[2020-01-30 07:02] moulikcipherX commented on #1423
Hy @bradzacher, Is there any rule or issue that I can work on?

[2020-01-30 07:45] PSeitz opened #1547 "@typescript-eslint/array-type Autofix"
In tslint this lint was available as quick fix, but here it is not available. Since it it is safe to autofix, I think this should be possible.
If someone points me in the right direction, I guess I could make an PR for this.

[2020-01-30 12:48] armano2 commented on #1547
https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/src/rules/array-type.ts

[2020-01-30 14:53] pablobirukov commented on #503
I don't need an autofixer that just adds `public` turned on, but I'd like to have one when I introduce the rule. For example, if I want to prefix all `constructor`s.

How about a fixer that is enabled under a flag in rule options? That way you can turn it on for shot time, prefix required nodes and turn off so that developers won't accidentally put `public` everywhere on every save of a document.

[2020-01-30 16:41] bradzacher commented on #1547
https://github.com/typescript-eslint/typescript-eslint/blob/569259ef253048a0f9c69c83e3a91f501f1e19a7/packages/eslint-plugin/src/rules/array-type.ts#L226-L260

https://github.com/typescript-eslint/typescript-eslint/blob/569259ef253048a0f9c69c83e3a91f501f1e19a7/packages/eslint-plugin/src/rules/array-type.ts#L298-L300

https://github.com/typescript-eslint/typescript-eslint/blob/569259ef253048a0f9c69c

[2020-01-30 17:08] bradzacher commented on #503
Happy for someone to add suggestion fixers to this rule:
https://eslint.org/docs/developer-guide/working-with-rules#providing-suggestions

Suggestion fixers are not automatic, but IDEs will show them as possible to fix.
You can have multiple suggestion fixers, so that way we could have one suggestion per modifier, and the user must choose which one.

[2020-01-30 17:13] bradzacher commented on #1273
@moulikcipherX there's no shortage of issues to look at.
There are plenty tagged with "good first issue" which should be doable.
Pretty much any issue without the "has PR" is fair game.

https://github.com/typescript-eslint/typescript-eslint/blob/master/CONTRIBUTING.md#pull-requests

[2020-01-30 18:25] bradzacher commented on #1420
Note - eslint has dropped nodev8 https://github.com/eslint/eslint/pull/12700
It will be released in their 7.0.0 release.

[2020-01-30 18:38] schmod commented on #1544
For the second case described above, can we make this rule configurable to opt-out of its behavior for the optional-chaining operator.

[2020-01-30 18:40] bradzacher opened #1550 "ESLint v7"
ESLint has v7 released.
https://eslint.org/blog/2020/05/eslint-v7.0.0-released

I went through the change list, and below are a list of changes I think we need to look into for full support:

Dependencies:
- [x] `Breaking: drop Node.js 8 support (refs eslint/rfcs#44) (#12700)`
  - Tracked locally in #1420

Tests:
- [x] `Breaking: RuleTester Improvements (refs eslint/rfcs#25) (#12955)`
  - This wil

[2020-01-30 18:42] bradzacher commented on #1544
happy to accept a PR if you'd like an option.

[2020-01-30 19:03] PSeitz commented on #1547
I'm using the "array-simple" option, where the fixer seems to be disabled/not implemented ?
https://github.com/typescript-eslint/typescript-eslint/blob/569259ef253048a0f9c69c83e3a91f501f1e19a7/packages/eslint-plugin/src/rules/array-type.ts#L306-L311

[2020-01-30 19:17] bradzacher commented on #1547
No, that if doesn't disable the fixer, that branches and stops reporting in a specific case.

As linked above, every single error report has a fixer.

Also look at the tests for the rule, all cases should have fixers. Search for your option, `array-simple` to see the error cases.

What specific cases are you finding are being reported on and not fixed?
Or what specific cases are you finding are no

[2020-01-30 19:50] PSeitz commented on #1547
Sorry, the auto-fix works. This is an issue with the vscode plugin. I didn't know it could fail only for some lints and work for others.

[2020-01-30 19:50] #1547 closed

[2020-01-30 20:20] Retsam commented on #1544
The issue described above also happens without the optional-chaining operator.  This will raise a lint error with the same fundamental issue as `head?.type === "foo"`

[code]

So I don't think an option that specifically disables checking of optional-chaining is the best solution here.

[2020-01-30 21:01] achavhantexada opened #1551 "Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory"
**npx eslint sometypescript file.tsx --debug?**

[code]

**What did you expect to happen?**
Should perform the linting.
**What actually happened?**
Error: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory
**Versions**

| package                                   | version |
| ----------------------------------------- | ------- |
| `@typescript-eslint/eslin

[2020-01-30 21:04] pablobirukov commented on #503
Looks exactly what I needed, thanks. Will provide a PR shortly.

I'm I right these can be applied with `--fix-type` passed?

[2020-01-30 21:33] bradzacher commented on #1551
If you're linting with type information, we have to gather that type information.
There's only one way to gather this type information - via typescript.

Typescript needs to know what files are part of the project so it can parse and typecheck them all, and return the data structures for the type information.

ESLint doesn't tell us which files are being linted ahead of time, it only tells us (one

[2020-01-30 21:33] #1551 closed

[2020-01-30 21:42] bradzacher commented on #503
No; suggestion fixers cannot be applied via the CLI at all. Only manually via an IDE.
They may change that in the future, but right now it's not on the roadmap AFAIK.

It's a bit confusing yeah, because they used the same terminology unfortunately.
When you create a rule, you can add a property to its metadata (`rule.meta.type`) which may be either [`"problem" | "layout" | "suggestion"`](https://e

[2020-01-30 21:45] achavhantexada commented on #1551
Thanks for the information, it is really helpful for me and I can now understand what is the actual root cause for this error. @bradzacher

[2020-01-30 23:05] romeovs commented on #1544
Yes an option to ignore `no-unnecessary-condition` for array types would be ideal.
But I'm guessing that's hard to do.

Is there anyone working on this over at TypeScript? This seems like a glaring hole in their type system.

[2020-01-30 23:28] bradzacher commented on #1544
@Retsam already has a PR up #1534

To my knowledge every single typed programming language makes the assumption that you've already done bounds checks before accessing an index.
So it's a hole in every single type system that has ever existed.

languages like C/C++ can either segfault, or just have undefined behaviour, and do no checks at compile time.
languages like C#/Java throw an explicit exce

[2020-01-30 23:51] Retsam commented on #1544
The relevant issue is [Typescript#13778](https://github.com/microsoft/TypeScript/issues/13778).  I do think this is something TS could do better on.

This is a common point of unsafeness in typed languages, but that's often because the program crashes (or does undefined behavior, C++) if you try to read outside of bounds, and there's no way to express that in the type system; but JS's out-of-bound

[2020-01-31 01:20] G-Rath opened #1552 "[explicit-module-boundary-types] `allowTypedFunctionExpressions` no longer applies to arguments"
**Repro**

Here's the repo itself: https://github.com/G-Rath/terraport/blob/master/src/formatter/ensurers.ts#L10

[code]

[code]

**Expected Result**
`blocks` should not require a type, due to the type annotation on the variable.

**Actual Result**

**Additional Info**

Overall, `explicit-module-boundary-types` seems to have jumped in noise, as it's now erroring on a *lot* of my code.

For example

[2020-01-31 01:41] bradzacher commented on #1552
Nah, this was my fault in #1493.
I refactored the code to reduce duplication and in doing so broke the fact that `allowTypedFunctionExpressions` works slightly differently in this rule.
Fixing it now.

[2020-01-31 05:38] moulikcipherX commented on #1529
Hy @eltonio450 Are you working on this issue or can I proceed?

[2020-01-31 05:44] bradzacher commented on #1529
This one probably needs more discussion before implementation, as it looks to be a reasonably complex rule.
We should nail down the exact things it should report first.

[2020-01-31 05:46] moulikcipherX commented on #1510
Hy @bradzacher  I think there is nothing to work in this issue so we can close it.

[2020-01-31 05:52] bradzacher commented on #1510
Sorry, the last few comments were unrelated to the root issue.

For a bit of background; the `naming-convention` rule was derived from a [3rd party rule made for tslint](https://github.com/ajafff/tslint-consistent-codestyle/blob/master/docs/naming-convention.md).

When I wrote it, I cut some features from that rule for the purpose of keeping complexity down and cutting features until we saw how pe

[2020-01-31 07:21] eltonio450 commented on #1529
@moulikcipherX I have still the motivation, but if you have time and want to take the lead, feel free. I'll be happy to contribute

@bradzacher we'll make a first try, and from there, iterate ?

I guess we can only apply the rule to non-exported interface/types

[2020-01-31 07:39] moulikcipherX commented on #1510
So, I can work on it.

[2020-01-31 08:29] juliendargelos commented on #455
@beenotung I guess you could use it this way:
@julioolvr can you confirm this is what you did ?

[code]

[2020-01-31 08:51] jacob87o2 commented on #455
@juliendargelos I can confirm that I did it like this and it worked.

[2020-01-31 16:30] bradzacher commented on #1510
This needs some exploration to find an efficient way to check if a variable is unused. You're certainly welcome to explore this if you'd like.

I don't have a clear idea of how to do this in a performant manner yet.

[2020-01-31 16:30] bradzacher commented on #1529
okay. well v0 lets just do this (keep it super simple):

1) check function parameters and parameter properties
1) if property is not an object destructuring, ignore it.
1) if destructuring has a rest parameter, ignore  it.
1) if the property's type is a union type, ignore it.
1) if the property's type is a non-object (or is an array) type, ignore it.
    - (this should always be true, but might as

[2020-01-31 17:07] FlorianWendelborn commented on #1256
Here’s a very common use-case that triggers this for me:

[code]

[2020-01-31 17:53] Retsam commented on #1544
I've updated #1534 to handle this case.  It was, (unsurprisingly), a little more complex than I expected, because I didn't initially consider how a single array access "infects" the rest of the chain.

[code]

But overall it wasn't too bad.

[2020-01-31 18:06] maletor opened #1554 "[camelcase] <Cannot disable for sending JSON requests>"
Often there is a need to send JSON in a request and inevitably that JSON has camel_case key names. One workaround is to convert the JS object to a string and calling JSON.parse or passing it as a raw string. Both not that great and error prone.

Are there any better workarounds?

[2020-01-31 18:08] bradzacher commented on #1554
Could you provide an example of what you mean?

[2020-01-31 22:17] LuminescentMoon commented on #789
dot-notation taking into account TS's index signatures would be particular useful in projects where a JS minifier that performs symbol renaming is used. May want to add an option to enforce square-bracket notation for accessing properties on global objects (and objects nested in global objects), and enforce dot-notation otherwise.

See: https://developers.google.com/closure/compiler/docs/api-tutor

[2020-01-31 22:52] bradzacher commented on #789
@LuminescentMoon - that sounds like something you don't need type information for, so it would work fine as an addition to the base eslint rule.

ESLint has scope analysis built in by default, so it should be able to tell the difference between a global and an imported variable.

[2020-02-01 03:54] maletor commented on #1554
`require("request-promise").post(body: { access_token: "asdf" })`

[2020-02-01 03:59] bradzacher commented on #1554
If you _have to have_ snake_case property names in your codebase, there are a few options.

1) add the names to the allowed names for properties - https://eslint.org/docs/rules/camelcase#options (the `allow` option)
1) disable the rule for properties - https://eslint.org/docs/rules/camelcase#options (`"properties": "never"`)
1) use an eslint disable comment on the line - https://eslint.org/docs/us

[2020-02-01 03:59] #1554 closed

[2020-02-01 11:31] niels013 opened #1555 "[typedef] variable-declaration-ignore-function from TSLint not implemented"
**Repro**

[code]

[code]

**Expected Result**
No error from ESLint

**Actual Result**
[code]
**Additional Info**
When I change the code to
[code]
the code passes linting.
When I check the rule page of TSLint (https://palantir.github.io/tslint/rules/typedef/) I see they have an option to ignore variable declarations for a function.

**Versions**

| package                            | version |
|

[2020-02-01 17:11] c32hedge opened #1556 "Rule proposal: Prefer readonly member variables instead of getters that return literal values, or vice versa"
I'm finding a common pattern in our code:

[code]

I would like to enforce using simple `readonly` members instead of getter functions:

[code]

This could also be applied to getter functions that return other literals, such as integers.

Some people prefer the reverse, so the rule should be bidirectional.

[2020-02-01 19:36] phaux commented on #1515
BTW with these options, we can end up with a logical expression where all the operands are allowed, but its resulting type is something we don't allow.

E.g. `numVal && strVal && nullObjVal && boolVal` would be of type `0 | "" | null | undefined | boolean` and would still be reported if used inside of an if/while, etc.

[2020-02-01 19:46] Retsam commented on #1515
It's not mentioned on way or another in this issue, and it's not part of #1480; but I think the `ignoreRHS` option can probably be removed - it should be the same fundamental change as #1163 which removes the same option from `no-unnecessary-condition`:

Instead of always or never checking the right hand side of a boolean logical operator depending on the option, the right-hand side should be chec

[2020-02-02 02:50] bradzacher commented on #1515
agree!

example of flow's sketchy-null check doing the same contextual check:

[code]
[repl](https://flow.org/try/#0PQKgBAAgZgNg9gdzCYAoYwy0TAlgOwBcwBnAawFNCBjACwE8BafAVxhgC4KAnbub1KgAmFajACG3CmABuksAA8OYAPwlC3AgHMA3KlxQwACgUBKMAG8AvoOpx86sPTABeMBpbSAZF8V6Dxh7evmaWNkA)

[2020-02-02 04:47] beenotung commented on #455
I just tried above settings on indentation, it's still giving errors when I run `eslint --fix`, it seems easier if we disable indent check in eslint and use prettier for that.

[2020-02-02 06:05] bradzacher commented on #455
@beenotung you definitely should disable all styling rules if you use prettier
I would use this to help you do so: https://github.com/prettier/eslint-config-prettier

There's no point having prettier and styling rules like indent on at the same time. Best bet is to do the same thing we do in this repo - run prettier as a CI check to help enforce formatting.

[2020-02-02 07:54] beenotung commented on #455
@bradzacher I saw there are two conflicting setting recommended online.
Shall I put 'prettier' or 'plugin:prettier/recommended' as the last value in the 'extends' options?

[2020-02-02 11:05] julioolvr commented on #455
@juliendargelos yes, we have pretty much exactly the same config

Fwiw, we're using [`prettier-eslint`](https://github.com/prettier/prettier-eslint) which runs prettier first and applies eslint's fixes on top of that.

[2020-02-02 11:08] sindresorhus commented on #1556
I would prefer the inverse, as I make reusable packages that will be consumed by JS users too, and I want to ensure it can only be read from, not assigned.

[2020-02-02 16:54] ShehramTahir opened #1560 "'render' is defined but never used no-unused-vars"
**I am trying to simply display a navbar **

[code]

[code]

**It is not executing and properly displaying the output instead it is giving error. I am not able to figure out why is this so **

**Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's

[2020-02-02 17:10] bradzacher commented on #455
The problem with `prettier-eslint` is that it's not well maintained https://github.com/prettier/prettier-eslint/issues/275.
It doesn't support eslint6, and no doubt it also won't support the upcoming eslint7.

As for what you should use - IMO you should not use `eslint-plugin-prettier`: https://github.com/typescript-eslint/typescript-eslint/blob/master/docs/getting-started/linting/FAQ.md#eslint-pl

[2020-02-02 17:12] bradzacher commented on #1560
This is not an error message that comes from ESLint; this is a typescript type error due to invalid code.
Consider asking a question on stackoverflow, or via other typescript support forums.

[2020-02-02 17:12] #1560 closed

[2020-02-02 17:18] #1552 closed

[2020-02-02 17:33] #291 closed